// announcer

@import './colors.scss';
@import './mixins.scss';

.con--announcer {
  background-color: $bg4;
  width: 100%;
  height: 38px;

  display: flex;
  align-items: center;
}

.con--announcer.nogame {
  justify-content: space-between;
}

.con--announcer.game {
  justify-content: center;
}

.msg-in-announcer span {
  font-size: large;
}