
.con--announcer {
  background-color: var(--bg4);
  width: 100%;

  display: flex;
}

.con--announcer.nogame {
  justify-content: space-between;
}

.con--announcer.game {
  justify-content: center;
}

.msg-in-announcer span {
  font-size: large;
}