// Announcer

@import './colors.scss';
@import './mixins.scss';

.con--announcer {
  width: 100%;
  height: 38px; // scale
  display: flex;
  align-items: center;
  background-color: $darker;

  &.nogame {
    justify-content: space-between;
  };

  &.game {
    justify-content: center;
  };

  & .msg-in-announcer span {
    font-size: 1.5rem;
  };
}