/* BUTTONS */


/* SVG BUTTONS */

.svg-btn {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--bg5);
  border-radius: var(--rad);
  overflow: hidden;
}

.svg-btn svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  margin: 0;
  fill: var(--cyan5);
  transition: 0.3s;
}

.svg-btn:hover svg {
  fill: var(--cyan4);
  transition: 0.3s;
}

.svg-btn.btn_assign-ghost {
  background-color: var(--bg4);
}