// Buttons

@import './colors.scss';
@import './mixins.scss';

.flat {
  @include flat-btn-txt();
}

.gradient {
  @include gradient-btn-txt();
}

.larger {
  font-size: larger;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: $cyan6;
  color: $default;
  padding: 2px 3px;
  border-radius: $rad;
  margin: 0;
  text-transform: uppercase;
}

.btn:hover {
  background-color: $cyan5;
}

.btn:active {
  outline: none;
}

.btn:focus { outline: none; }

.btn:disabled,
.btn:hover:disabled,
.btn:active:disabled {
  background: $colg5;
  color: $colg4;
  border-color: $colg5;
  cursor: default;
}