/* BUTTONS */


/* SVG BUTTONS */

.svg-btn {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--bg4);
  border-radius: var(--rad);
  overflow: hidden;
}

.svg-btn rect {
  fill: none;
}

.svg-btn svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  margin: 0;
  fill: var(--cyan5);
  transition: 0.3s;
}

.svg-btn svg.imported {
  height: 100%;
  width: 100%;
  min-height: 30.59px;
}

.svg-btn.timer {
  height: 100%;
  width: 100%;
  min-height: 30.59px;
}

.svg-btn svg.imported.copy {
  /* min-height: 25px; */
  width: 90%;
}

.svg-btn:hover svg {
  fill: var(--cyan4);
  transition: 0.3s;
}

.svg-btn.btn_assign-ghost {
  background-color: var(--bg4);
}