// buttons

@import './colors.scss';
@import './mixins.scss';

.flat {
  @include flat-btn-txt();
  font-size: larger;
}

.svg-btn.cleargame.three-d {
  // padding: 4px;
  border-radius: $rad;
  @include square(21px);
  & svg {
    transform: rotate(45deg);
    fill: $bg5;
  }
  @include three-d-btn($col: $rose8, $bdr-wid: 2px);
  &:disabled {
    cursor: default;
    @include three-d-btn($col: $bg3, $bdr-wid: 2px);
  }
  &:disabled svg {
    fill: $bg1;
  }
}


.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: $cyan6;
  color: $default;
  padding: 2px 3px;
  border-radius: $rad;
  margin: 0;
  text-transform: uppercase;
}

.btn:hover {
  background-color: $cyan5;
}

.btn:active {
  outline: none;
}

.btn:focus { outline: none; }

.btn:disabled,
.btn:hover:disabled,
.btn:active:disabled {
  background: $colg5;
  color: $colg4;
  border-color: $colg5;
  cursor: default;
}