
@import './colors.scss';
@import './mixins.scss';

$pt: 10%;
$wd: .25rem;
$dpt: 5%;

button.card-wrap--player {
  display: inline-block;
  border-radius: var(--rad);
  padding: .25rem;
  width: 6rem;

  &:disabled {
    cursor: auto;
  }
  &:not(:first-child) {
    margin-left: .5rem;
  }
  &.highlighted {
    color: $fg1;
  }

  &.evidence {
    @include three-d-btn($evc, $pt, $pt, $wd);
    &.selected {
      color: $fg1;
      @include three-d-btn($sel, $pt, $pt, $wd);
    }
    &:disabled {
      cursor: auto;
      @include three-d-btn(darken($evc, $dpt), $pt, $pt, $wd);
      &:not(.highlighted) {
        color: $fg4;
      }
    }
    &.highlighted {
      @include three-d-btn($hig, $pt, $pt, $wd);
    }
  }

  &.means {
    @include three-d-btn($mec, $pt, $pt, $wd);
    &.selected {
      color: $fg1;
      @include three-d-btn($sel, $pt, $pt, $wd);
    }
    &:disabled {
      cursor: auto;
      @include three-d-btn(darken($mec, $dpt), $pt, $pt, $wd);
      &:not(.highlighted) {
        color: $fg4;
      }
    }
    &.highlighted {
      @include three-d-btn($hig, $pt, $pt, $wd);
    }
  }
}