
button.card-wrap--player {
  display: inline-block;
  border-radius: var(--rad);
  width: 6rem;
  /* height: 4rem; */
  padding: .5rem;
}

button.card-wrap--player.evidence:hover,
button.card-wrap--player.evidence:disabled,
button.card-wrap--player.evidence {
  background-color: var(--evdark);
}

button.card-wrap--player.means:hover,
button.card-wrap--player.means:disabled,
button.card-wrap--player.means {
  background-color: var(--medark);
}

button.card-wrap--player {
  opacity: 80%;
}

button.card-wrap--player.selected:hover,
button.card-wrap--player:hover {
  opacity: 100%;
}

button.card-wrap--player.selected:hover *,
button.card-wrap--player:hover * {
  /* color: var(--cyan3);
  fill: var(--cyan3); */
}

button.card-wrap--player:not(:first-child) {
  margin-left: .5rem;
}

button.card-wrap--player:disabled {
  /* border-color: var(--gray4); */
  /* background-color: var(--bg4); */
  opacity: 60%;
  cursor: auto;
}

button.card-wrap--player:disabled:hover *,
button.card-wrap--player:disabled * {
  /* color: var(--gray4);
  fill: var(--gray4); */
}

/* button.card-wrap--player.highlighted, */
button.card-wrap--player.selected {
  border: .25rem solid;
  padding: .25rem;
  opacity: 100%;
}

button.card-wrap--player.highlighted {
  opacity: 100%;
}

button.card-wrap--player.evidence.selected {
  border-color: var(--evligt);
}

button.card-wrap--player.means.selected {
  border-color: var(--meligt);
}

button.card-wrap--player:not(:disabled):active {
  /* border-color: var(--white); */
}

button.card-wrap--player:not(:disabled):active * {
  /* color: var(--pink5);
  fill: var(--pink5); */
}

button.card-wrap--player.highlighted .card-title {
  color: var(--hiligt);
  font-weight: bold;
}

/* button.card-wrap--player.highlighted:hover *,
button.card-wrap--player.highlighted * {
  color: var(--oran7);
  fill: var(--oran7);
} */

/* .card-icon {
  height: 25px;
  width: 25px;
  display: block;
  margin: .25rem auto;
} */

/* div.card-title--means,
.card-icon--means {
  color: lightgreen;
  fill: lightgreen;
}

div.card-title--evidence,
.card-icon--evidence {
  color: violet;
  fill: violet;
} */

/* div.card-title {
  font-size: 12px;
} */

/* .card-wrap--player > * {
  margin: .25rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
} */

/* button.card-wrap--player.mine {

}

button.card-wrap--player.other {

} */