// Chat

@import './colors.scss';
@import './mixins.scss';

.con--lobbychat {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  width: 350px;
  margin-left: $gap;
  background-color: $darker;
}

.con--chatbutton {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: $gap;
  background-color: $darker;

  & > .svg-btn.chat {
    @include square(24px);

    &.minimize {
      @include svg-nobg-btn($red, $red);
    };

    &.maximize {
      @include svg-nobg-btn($cyan-alt, $cyan-alt);
    };
  };
}

.chatfeed {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: $darkest;
  margin: .5rem 0;
  border-radius: $rad3;
  min-height: 0;
  height: calc(100% - 4rem);
  overflow: auto;
  -ms-overflow-style: none;  // IE and Edge
     scrollbar-width: none;  // Firefox

  &::-webkit-scrollbar {
    display: none; // Hide scrollbar for Chrome, Safari and Opera.
  };
}

.chatfeed .msg-wrapper {
  margin: 3px .5rem;
}

.chatfeed span {
  font-size: 1.25rem;
}

.chatfeed > :first-child {
  margin-top: 3px;
}

.chatfeed > :last-child {
  margin-bottom: 3px;
}

.new-message-wrapper {
  margin: 0;
  width: 100%;
}

.new-message-form {
  display: flex;
}

input.new-message-input {
  font-size: 1.25rem;
  width: 100%;
  padding: 3px .5rem;
  background-color: $darkest;
  border: 2px solid $darkest;
  border-radius: $rad3;

  &::placeholder { color: $dark; };

  &:focus { border-color: $cyan-alt; };
  &.banned, &.banned:focus { border-color: $red; };
  &.valid, &.valid:focus { border-color: $green; };
}

button.btn--new-message {
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
}

.msg-in-chatfeed {
  display: flex;
}

.msg-in-chatfeed div {
  display: inline;
}