/* CHAT */

.con--lobbychat {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  width: 300px;
}

.con--lobbychat.min {
  width: max-content;
  background-color: var(--bg4);
}

.btn.btn--minimize-chat {
  margin-bottom: .5rem;
  display: flex;
  justify-content: center;
}

.chatfeed {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: var(--bg4);
  margin-bottom: .5rem;
  border-radius: var(--rad);
  min-height: 0;
  height: calc(100% - 4rem);
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
}

.chatfeed::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.chatfeed .msg-wrapper {
  margin: .15rem .5rem;
}

.chatfeed > :first-child {
  margin-top: .25rem;
}

.chatfeed > :last-child {
  margin-bottom: .25rem;
}

.announcement {
  font-style: italic;
}

.announcement--usermessage {
  font-style: normal;
}

.announcement--timestamp {
  color: var(--bg1);
}

.announcement--username {
  font-weight: bold;
}

.announcement--keyword {
  color: var(--white);
}

.new-message-wrapper {
  margin: 0;
  width: 100%;
}

.new-message-form {
  display: flex;
}

.new-message-input {
  margin-right: .5rem;
  width: 100%;
}

.msg-in-announcer span {
  font-size: large;
}