/* CHAT */

.con--lobbychat {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  width: 300px;
  background-color: var(--bg4);
}

.con--lobbychat.min {
  width: max-content;
  background-color: var(--bg4);
}

.btn.btn--minimize-chat {
  margin-bottom: .5rem;
  display: flex;
  justify-content: center;
}

.svg-btn.minimize-chat {
  width: 20px;
  height: 20px;
  margin-bottom: .5rem;
}

.chatfeed {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: var(--bg5);
  margin-bottom: .5rem;
  border-radius: var(--rad);
  min-height: 0;
  height: calc(100% - 4rem);
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
}

.chatfeed::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.chatfeed .msg-wrapper {
  margin: .25rem .5rem;
}

.chatfeed > :first-child {
  margin-top: .25rem;
}

.chatfeed > :last-child {
  margin-bottom: .25rem;
}

.string {
  /* font-style: italic; */
  color: var(--default);
}

.string--timestamp,
.string--arrow {
  /* min-width: 26px; */
  text-align: end;
}

/* .string--timestamp.anno+*::before {
  content: '-->';
  color: var(--emer3);
  margin-right: .25rem;
} */

.string--usermessage {
  font-style: normal;
}

.string--timestamp {
  color: var(--bg2);
  /* font-weight: lighter; */
}

.string--arrow {
  color: var(--emer3);
  font-weight: normal;
}

.string--punctuation {
  color: var(--default);
  font-weight: bold;
}

.string--username {
  font-weight: bold;
  letter-spacing: .025rem;
}

.string--keyword {
  color: var(--default);
  font-weight: bold;
  letter-spacing: .025rem;
}

.new-message-wrapper {
  margin: 0;
  width: 100%;
}

.new-message-form {
  display: flex;
}

input.new-message-input {
  /* margin-right: .5rem; */
  width: 100%;
  border: 1px solid var(--bg5);
}

input.new-message-input:focus {
  border: 1px solid var(--cyan5);
}

input.new-message-input.banned,
input.new-message-input.banned:focus {
  border: 1px solid var(--killer);
}

input.new-message-input.valid:focus {
  border: 1px solid var(--readyli);
}

button.btn--new-message {
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
}

.msg-in-chatfeed {
  display: flex;
}

.msg-in-chatfeed div {
  display: inline;
}

.styled-block-text:nth-child(2) {
  margin-left: .5rem;
}