//  CHAT

@import './colors.scss';
@import './mixins.scss';

.con--lobbychat {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  width: 300px;
  background-color: $bg4;
}

.con--lobbychat.min {
  width: max-content;
}

.svg-btn.minimize-chat {
  width: 20px;
  height: 20px;
  /* margin-bottom: .5rem; */
}

.chatfeed {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: $bg5;
  margin: .5rem 0;
  border-radius: $rad;
  min-height: 0;
  height: calc(100% - 4rem);
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
}

.chatfeed::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.chatfeed .msg-wrapper {
  margin: .25rem .5rem;
}

.chatfeed > :first-child {
  margin-top: .25rem;
}

.chatfeed > :last-child {
  margin-bottom: .25rem;
}

.string {
  color: $fg3;
}

.string--timestamp,
.string--arrow {
  text-align: end;
}

.string--usermessage {
  font-style: normal;
}

.string--timestamp {
  color: $bg2;
}

.string--arrow {
  color: $emer3;
  font-weight: normal;
}

.string--punctuation {
  color: $fg3;
  font-weight: bold;
}

.string--username {
  font-weight: bold;
  letter-spacing: .025rem;
}

.string--keyword {
  color: $fg3;
  font-weight: bold;
  letter-spacing: .025rem;
  text-transform: capitalize;
}

.new-message-wrapper {
  margin: 0;
  width: 100%;
}

.new-message-form {
  display: flex;
}

input.new-message-input {
  /* margin-right: .5rem; */
  width: 100%;
  border: 1px solid $bg5;
}

input.new-message-input:focus {
  border: 1px solid $cyan5;
}

input.new-message-input.banned,
input.new-message-input.banned:focus {
  border: 1px solid $killer;
}

input.new-message-input.valid:focus {
  border: 1px solid $readyli;
}

button.btn--new-message {
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
}

.msg-in-chatfeed {
  display: flex;
}

.msg-in-chatfeed div {
  display: inline;
}

.styled-block-text:nth-child(2) {
  margin-left: .5rem;
}