/* CHAT */

.con--lobbychat {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  width: 300px;
}

.con--lobbychat.min {
  width: max-content;
  background-color: var(--bg4);
}

.btn.btn--minimize-chat {
  margin-bottom: .5rem;
  display: flex;
  justify-content: center;
}

.chatfeed {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: var(--bg4);
  margin-bottom: .5rem;
  border-radius: var(--rad);
  min-height: 0;
  height: calc(100% - 4rem);
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
}

.chatfeed::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.chatfeed .msg-wrapper {
  margin: .15rem .5rem;
}

.chatfeed > :first-child {
  margin-top: .25rem;
}

.chatfeed > :last-child {
  margin-bottom: .25rem;
}

.string {
  font-style: italic;
}

.string--usermessage {
  font-style: normal;
}

.string--timestamp {
  color: var(--bg1);
}

.string--username {
  font-weight: bold;
}

.string--keyword {
  color: var(--white);
}

.new-message-wrapper {
  margin: 0;
  width: 100%;
}

.new-message-form {
  display: flex;
}

.new-message-input {
  margin-right: .5rem;
  width: 100%;
}

.default .msg-wrapper .string--username {
  color: var(--colg5);
}

.red .msg-wrapper .string--username {
  color: var(--redd5);
}

.blue .msg-wrapper .string--username {
  color: var(--blue5);
}

.green .msg-wrapper .string--username {
  color: var(--lime4);
}

.yellow .msg-wrapper .string--username {
  color: var(--yell5);
}

.orange .msg-wrapper .string--username {
  color: var(--oran5);
}

.purple .msg-wrapper .string--username {
  color: var(--purp5);
}

.pink .msg-wrapper .string--username {
  color: var(--pink5);
}

.cyan .msg-wrapper .string--username {
  color: var(--cyan5);
}

.emerald .msg-wrapper .string--username {
  color: var(--emer4);
}

.violet .msg-wrapper .string--username {
  color: var(--viol5);
}

.rose .msg-wrapper .string--username {
  color: var(--rose4);
}

.amber .msg-wrapper .string--username {
  color: var(--ambr5);
}
