// colors

$blacko25 :rgba(0,0,0,.25);
$blacko50 :rgba(0,0,0,.50);
$blacko75 :rgba(0,0,0,.75);
$black    :rgba(0,0,0,1);
$whiteo25 :rgba(255,255,255,.25);
$whiteo50 :rgba(255,255,255,.50);
$whiteo75 :rgba(255,255,255,.75);
$white    :rgba(255,255,255,1);
$rose0o25 :rgba(255,241,242,.25);
$rose0o50 :rgba(255,241,242,.50);
$rose0o75 :rgba(255,241,242,.75);
$rose0    :rgba(255,241,242,1);
$rose1o25 :rgba(255,228,230,.25);
$rose1o50 :rgba(255,228,230,.50);
$rose1o75 :rgba(255,228,230,.75);
$rose1    :rgba(255,228,230,1);
$rose2o25 :rgba(254,205,211,.25);
$rose2o50 :rgba(254,205,211,.50);
$rose2o75 :rgba(254,205,211,.75);
$rose2    :rgba(254,205,211,1);
$rose3o25 :rgba(253,164,175,.25);
$rose3o50 :rgba(253,164,175,.50);
$rose3o75 :rgba(253,164,175,.75);
$rose3    :rgba(253,164,175,1);
$rose4o25 :rgba(251,113,133,.25);
$rose4o50 :rgba(251,113,133,.50);
$rose4o75 :rgba(251,113,133,.75);
$rose4    :rgba(251,113,133,1);
$rose5o25 :rgba(244,63,94,.25);
$rose5o50 :rgba(244,63,94,.50);
$rose5o75 :rgba(244,63,94,.75);
$rose5    :rgba(244,63,94,1);
$rose6o25 :rgba(225,29,72,.25);
$rose6o50 :rgba(225,29,72,.50);
$rose6o75 :rgba(225,29,72,.75);
$rose6    :rgba(225,29,72,1);
$rose7o25 :rgba(190,18,60,.25);
$rose7o50 :rgba(190,18,60,.50);
$rose7o75 :rgba(190,18,60,.75);
$rose7    :rgba(190,18,60,1);
$rose8o25 :rgba(159,18,57,.25);
$rose8o50 :rgba(159,18,57,.50);
$rose8o75 :rgba(159,18,57,.75);
$rose8    :rgba(159,18,57,1);
$rose9o25 :rgba(136,19,55,.25);
$rose9o50 :rgba(136,19,55,.50);
$rose9o75 :rgba(136,19,55,.75);
$rose9    :rgba(136,19,55,1);
$pink0o25 :rgba(253,242,248,.25);
$pink0o50 :rgba(253,242,248,.50);
$pink0o75 :rgba(253,242,248,.75);
$pink0    :rgba(253,242,248,1);
$pink1o25 :rgba(252,231,243,.25);
$pink1o50 :rgba(252,231,243,.50);
$pink1o75 :rgba(252,231,243,.75);
$pink1    :rgba(252,231,243,1);
$pink2o25 :rgba(251,207,232,.25);
$pink2o50 :rgba(251,207,232,.50);
$pink2o75 :rgba(251,207,232,.75);
$pink2    :rgba(251,207,232,1);
$pink3o25 :rgba(249,168,212,.25);
$pink3o50 :rgba(249,168,212,.50);
$pink3o75 :rgba(249,168,212,.75);
$pink3    :rgba(249,168,212,1);
$pink4o25 :rgba(244,114,182,.25);
$pink4o50 :rgba(244,114,182,.50);
$pink4o75 :rgba(244,114,182,.75);
$pink4    :rgba(244,114,182,1);
$pink5o25 :rgba(236,72,153,.25);
$pink5o50 :rgba(236,72,153,.50);
$pink5o75 :rgba(236,72,153,.75);
$pink5    :rgba(236,72,153,1);
$pink6o25 :rgba(219,39,119,.25);
$pink6o50 :rgba(219,39,119,.50);
$pink6o75 :rgba(219,39,119,.75);
$pink6    :rgba(219,39,119,1);
$pink7o25 :rgba(190,24,93,.25);
$pink7o50 :rgba(190,24,93,.50);
$pink7o75 :rgba(190,24,93,.75);
$pink7    :rgba(190,24,93,1);
$pink8o25 :rgba(157,23,77,.25);
$pink8o50 :rgba(157,23,77,.50);
$pink8o75 :rgba(157,23,77,.75);
$pink8    :rgba(157,23,77,1);
$pink9o25 :rgba(131,24,67,.25);
$pink9o50 :rgba(131,24,67,.50);
$pink9o75 :rgba(131,24,67,.75);
$pink9    :rgba(131,24,67,1);
$fuch0o25 :rgba(253,244,255,.25);
$fuch0o50 :rgba(253,244,255,.50);
$fuch0o75 :rgba(253,244,255,.75);
$fuch0    :rgba(253,244,255,1);
$fuch1o25 :rgba(250,232,255,.25);
$fuch1o50 :rgba(250,232,255,.50);
$fuch1o75 :rgba(250,232,255,.75);
$fuch1    :rgba(250,232,255,1);
$fuch2o25 :rgba(245,208,254,.25);
$fuch2o50 :rgba(245,208,254,.50);
$fuch2o75 :rgba(245,208,254,.75);
$fuch2    :rgba(245,208,254,1);
$fuch3o25 :rgba(240,171,252,.25);
$fuch3o50 :rgba(240,171,252,.50);
$fuch3o75 :rgba(240,171,252,.75);
$fuch3    :rgba(240,171,252,1);
$fuch4o25 :rgba(232,121,249,.25);
$fuch4o50 :rgba(232,121,249,.50);
$fuch4o75 :rgba(232,121,249,.75);
$fuch4    :rgba(232,121,249,1);
$fuch5o25 :rgba(217,70,239,.25);
$fuch5o50 :rgba(217,70,239,.50);
$fuch5o75 :rgba(217,70,239,.75);
$fuch5    :rgba(217,70,239,1);
$fuch6o25 :rgba(192,38,211,.25);
$fuch6o50 :rgba(192,38,211,.50);
$fuch6o75 :rgba(192,38,211,.75);
$fuch6    :rgba(192,38,211,1);
$fuch7o25 :rgba(162,28,175,.25);
$fuch7o50 :rgba(162,28,175,.50);
$fuch7o75 :rgba(162,28,175,.75);
$fuch7    :rgba(162,28,175,1);
$fuch8o25 :rgba(134,25,143,.25);
$fuch8o50 :rgba(134,25,143,.50);
$fuch8o75 :rgba(134,25,143,.75);
$fuch8    :rgba(134,25,143,1);
$fuch9o25 :rgba(112,26,117,.25);
$fuch9o50 :rgba(112,26,117,.50);
$fuch9o75 :rgba(112,26,117,.75);
$fuch9    :rgba(112,26,117,1);
$purp0o25 :rgba(250,245,255,.25);
$purp0o50 :rgba(250,245,255,.50);
$purp0o75 :rgba(250,245,255,.75);
$purp0    :rgba(250,245,255,1);
$purp1o25 :rgba(243,232,255,.25);
$purp1o50 :rgba(243,232,255,.50);
$purp1o75 :rgba(243,232,255,.75);
$purp1    :rgba(243,232,255,1);
$purp2o25 :rgba(233,213,255,.25);
$purp2o50 :rgba(233,213,255,.50);
$purp2o75 :rgba(233,213,255,.75);
$purp2    :rgba(233,213,255,1);
$purp3o25 :rgba(216,180,254,.25);
$purp3o50 :rgba(216,180,254,.50);
$purp3o75 :rgba(216,180,254,.75);
$purp3    :rgba(216,180,254,1);
$purp4o25 :rgba(192,132,252,.25);
$purp4o50 :rgba(192,132,252,.50);
$purp4o75 :rgba(192,132,252,.75);
$purp4    :rgba(192,132,252,1);
$purp5o25 :rgba(168,85,247,.25);
$purp5o50 :rgba(168,85,247,.50);
$purp5o75 :rgba(168,85,247,.75);
$purp5    :rgba(168,85,247,1);
$purp6o25 :rgba(147,51,234,.25);
$purp6o50 :rgba(147,51,234,.50);
$purp6o75 :rgba(147,51,234,.75);
$purp6    :rgba(147,51,234,1);
$purp7o25 :rgba(126,34,206,.25);
$purp7o50 :rgba(126,34,206,.50);
$purp7o75 :rgba(126,34,206,.75);
$purp7    :rgba(126,34,206,1);
$purp8o25 :rgba(107,33,168,.25);
$purp8o50 :rgba(107,33,168,.50);
$purp8o75 :rgba(107,33,168,.75);
$purp8    :rgba(107,33,168,1);
$purp9o25 :rgba(88,28,135,.25);
$purp9o50 :rgba(88,28,135,.50);
$purp9o75 :rgba(88,28,135,.75);
$purp9    :rgba(88,28,135,1);
$viol0o25 :rgba(245,243,255,.25);
$viol0o50 :rgba(245,243,255,.50);
$viol0o75 :rgba(245,243,255,.75);
$viol0    :rgba(245,243,255,1);
$viol1o25 :rgba(237,233,254,.25);
$viol1o50 :rgba(237,233,254,.50);
$viol1o75 :rgba(237,233,254,.75);
$viol1    :rgba(237,233,254,1);
$viol2o25 :rgba(221,214,254,.25);
$viol2o50 :rgba(221,214,254,.50);
$viol2o75 :rgba(221,214,254,.75);
$viol2    :rgba(221,214,254,1);
$viol3o25 :rgba(196,181,253,.25);
$viol3o50 :rgba(196,181,253,.50);
$viol3o75 :rgba(196,181,253,.75);
$viol3    :rgba(196,181,253,1);
$viol4o25 :rgba(167,139,250,.25);
$viol4o50 :rgba(167,139,250,.50);
$viol4o75 :rgba(167,139,250,.75);
$viol4    :rgba(167,139,250,1);
$viol5o25 :rgba(139,92,246,.25);
$viol5o50 :rgba(139,92,246,.50);
$viol5o75 :rgba(139,92,246,.75);
$viol5    :rgba(139,92,246,1);
$viol6o25 :rgba(124,58,237,.25);
$viol6o50 :rgba(124,58,237,.50);
$viol6o75 :rgba(124,58,237,.75);
$viol6    :rgba(124,58,237,1);
$viol7o25 :rgba(109,40,217,.25);
$viol7o50 :rgba(109,40,217,.50);
$viol7o75 :rgba(109,40,217,.75);
$viol7    :rgba(109,40,217,1);
$viol8o25 :rgba(91,33,182,.25);
$viol8o50 :rgba(91,33,182,.50);
$viol8o75 :rgba(91,33,182,.75);
$viol8    :rgba(91,33,182,1);
$viol9o25 :rgba(76,29,149,.25);
$viol9o50 :rgba(76,29,149,.50);
$viol9o75 :rgba(76,29,149,.75);
$viol9    :rgba(76,29,149,1);
$indi0o25 :rgba(238,242,255,.25);
$indi0o50 :rgba(238,242,255,.50);
$indi0o75 :rgba(238,242,255,.75);
$indi0    :rgba(238,242,255,1);
$indi1o25 :rgba(224,231,255,.25);
$indi1o50 :rgba(224,231,255,.50);
$indi1o75 :rgba(224,231,255,.75);
$indi1    :rgba(224,231,255,1);
$indi2o25 :rgba(199,210,254,.25);
$indi2o50 :rgba(199,210,254,.50);
$indi2o75 :rgba(199,210,254,.75);
$indi2    :rgba(199,210,254,1);
$indi3o25 :rgba(165,180,252,.25);
$indi3o50 :rgba(165,180,252,.50);
$indi3o75 :rgba(165,180,252,.75);
$indi3    :rgba(165,180,252,1);
$indi4o25 :rgba(129,140,248,.25);
$indi4o50 :rgba(129,140,248,.50);
$indi4o75 :rgba(129,140,248,.75);
$indi4    :rgba(129,140,248,1);
$indi5o25 :rgba(99,102,241,.25);
$indi5o50 :rgba(99,102,241,.50);
$indi5o75 :rgba(99,102,241,.75);
$indi5    :rgba(99,102,241,1);
$indi6o25 :rgba(79,70,229,.25);
$indi6o50 :rgba(79,70,229,.50);
$indi6o75 :rgba(79,70,229,.75);
$indi6    :rgba(79,70,229,1);
$indi7o25 :rgba(67,56,202,.25);
$indi7o50 :rgba(67,56,202,.50);
$indi7o75 :rgba(67,56,202,.75);
$indi7    :rgba(67,56,202,1);
$indi8o25 :rgba(55,48,163,.25);
$indi8o50 :rgba(55,48,163,.50);
$indi8o75 :rgba(55,48,163,.75);
$indi8    :rgba(55,48,163,1);
$indi9o25 :rgba(49,46,129,.25);
$indi9o50 :rgba(49,46,129,.50);
$indi9o75 :rgba(49,46,129,.75);
$indi9    :rgba(49,46,129,1);
$blue0o25 :rgba(239,246,255,.25);
$blue0o50 :rgba(239,246,255,.50);
$blue0o75 :rgba(239,246,255,.75);
$blue0    :rgba(239,246,255,1);
$blue1o25 :rgba(219,234,254,.25);
$blue1o50 :rgba(219,234,254,.50);
$blue1o75 :rgba(219,234,254,.75);
$blue1    :rgba(219,234,254,1);
$blue2o25 :rgba(191,219,254,.25);
$blue2o50 :rgba(191,219,254,.50);
$blue2o75 :rgba(191,219,254,.75);
$blue2    :rgba(191,219,254,1);
$blue3o25 :rgba(147,197,253,.25);
$blue3o50 :rgba(147,197,253,.50);
$blue3o75 :rgba(147,197,253,.75);
$blue3    :rgba(147,197,253,1);
$blue4o25 :rgba(96,165,250,.25);
$blue4o50 :rgba(96,165,250,.50);
$blue4o75 :rgba(96,165,250,.75);
$blue4    :rgba(96,165,250,1);
$blue5o25 :rgba(59,130,246,.25);
$blue5o50 :rgba(59,130,246,.50);
$blue5o75 :rgba(59,130,246,.75);
$blue5    :rgba(59,130,246,1);
$blue6o25 :rgba(37,99,235,.25);
$blue6o50 :rgba(37,99,235,.50);
$blue6o75 :rgba(37,99,235,.75);
$blue6    :rgba(37,99,235,1);
$blue7o25 :rgba(29,78,216,.25);
$blue7o50 :rgba(29,78,216,.50);
$blue7o75 :rgba(29,78,216,.75);
$blue7    :rgba(29,78,216,1);
$blue8o25 :rgba(30,64,175,.25);
$blue8o50 :rgba(30,64,175,.50);
$blue8o75 :rgba(30,64,175,.75);
$blue8    :rgba(30,64,175,1);
$blue9o25 :rgba(30,58,138,.25);
$blue9o50 :rgba(30,58,138,.50);
$blue9o75 :rgba(30,58,138,.75);
$blue9    :rgba(30,58,138,1);
$libl0o25 :rgba(240,249,255,.25);
$libl0o50 :rgba(240,249,255,.50);
$libl0o75 :rgba(240,249,255,.75);
$libl0    :rgba(240,249,255,1);
$libl1o25 :rgba(224,242,254,.25);
$libl1o50 :rgba(224,242,254,.50);
$libl1o75 :rgba(224,242,254,.75);
$libl1    :rgba(224,242,254,1);
$libl2o25 :rgba(186,230,253,.25);
$libl2o50 :rgba(186,230,253,.50);
$libl2o75 :rgba(186,230,253,.75);
$libl2    :rgba(186,230,253,1);
$libl3o25 :rgba(125,211,252,.25);
$libl3o50 :rgba(125,211,252,.50);
$libl3o75 :rgba(125,211,252,.75);
$libl3    :rgba(125,211,252,1);
$libl4o25 :rgba(56,189,248,.25);
$libl4o50 :rgba(56,189,248,.50);
$libl4o75 :rgba(56,189,248,.75);
$libl4    :rgba(56,189,248,1);
$libl5o25 :rgba(14,165,233,.25);
$libl5o50 :rgba(14,165,233,.50);
$libl5o75 :rgba(14,165,233,.75);
$libl5    :rgba(14,165,233,1);
$libl6o25 :rgba(2,132,199,.25);
$libl6o50 :rgba(2,132,199,.50);
$libl6o75 :rgba(2,132,199,.75);
$libl6    :rgba(2,132,199,1);
$libl7o25 :rgba(3,105,161,.25);
$libl7o50 :rgba(3,105,161,.50);
$libl7o75 :rgba(3,105,161,.75);
$libl7    :rgba(3,105,161,1);
$libl8o25 :rgba(7,89,133,.25);
$libl8o50 :rgba(7,89,133,.50);
$libl8o75 :rgba(7,89,133,.75);
$libl8    :rgba(7,89,133,1);
$libl9o25 :rgba(12,74,110,.25);
$libl9o50 :rgba(12,74,110,.50);
$libl9o75 :rgba(12,74,110,.75);
$libl9    :rgba(12,74,110,1);
$cyan0o25 :rgba(236,254,255,.25);
$cyan0o50 :rgba(236,254,255,.50);
$cyan0o75 :rgba(236,254,255,.75);
$cyan0    :rgba(236,254,255,1);
$cyan1o25 :rgba(207,250,254,.25);
$cyan1o50 :rgba(207,250,254,.50);
$cyan1o75 :rgba(207,250,254,.75);
$cyan1    :rgba(207,250,254,1);
$cyan2o25 :rgba(165,243,252,.25);
$cyan2o50 :rgba(165,243,252,.50);
$cyan2o75 :rgba(165,243,252,.75);
$cyan2    :rgba(165,243,252,1);
$cyan3o25 :rgba(103,232,249,.25);
$cyan3o50 :rgba(103,232,249,.50);
$cyan3o75 :rgba(103,232,249,.75);
$cyan3    :rgba(103,232,249,1);
$cyan4o25 :rgba(34,211,238,.25);
$cyan4o50 :rgba(34,211,238,.50);
$cyan4o75 :rgba(34,211,238,.75);
$cyan4    :rgba(34,211,238,1);
$cyan5o25 :rgba(6,182,212,.25);
$cyan5o50 :rgba(6,182,212,.50);
$cyan5o75 :rgba(6,182,212,.75);
$cyan5    :rgba(6,182,212,1);
$cyan6o25 :rgba(8,145,178,.25);
$cyan6o50 :rgba(8,145,178,.50);
$cyan6o75 :rgba(8,145,178,.75);
$cyan6    :rgba(8,145,178,1);
$cyan7o25 :rgba(14,116,144,.25);
$cyan7o50 :rgba(14,116,144,.50);
$cyan7o75 :rgba(14,116,144,.75);
$cyan7    :rgba(14,116,144,1);
$cyan8o25 :rgba(21,94,117,.25);
$cyan8o50 :rgba(21,94,117,.50);
$cyan8o75 :rgba(21,94,117,.75);
$cyan8    :rgba(21,94,117,1);
$cyan9o25 :rgba(22,78,99,.25);
$cyan9o50 :rgba(22,78,99,.50);
$cyan9o75 :rgba(22,78,99,.75);
$cyan9    :rgba(22,78,99,1);
$teal0o25 :rgba(240,253,250,.25);
$teal0o50 :rgba(240,253,250,.50);
$teal0o75 :rgba(240,253,250,.75);
$teal0    :rgba(240,253,250,1);
$teal1o25 :rgba(204,251,241,.25);
$teal1o50 :rgba(204,251,241,.50);
$teal1o75 :rgba(204,251,241,.75);
$teal1    :rgba(204,251,241,1);
$teal2o25 :rgba(153,246,228,.25);
$teal2o50 :rgba(153,246,228,.50);
$teal2o75 :rgba(153,246,228,.75);
$teal2    :rgba(153,246,228,1);
$teal3o25 :rgba(94,234,212,.25);
$teal3o50 :rgba(94,234,212,.50);
$teal3o75 :rgba(94,234,212,.75);
$teal3    :rgba(94,234,212,1);
$teal4o25 :rgba(45,212,191,.25);
$teal4o50 :rgba(45,212,191,.50);
$teal4o75 :rgba(45,212,191,.75);
$teal4    :rgba(45,212,191,1);
$teal5o25 :rgba(20,184,166,.25);
$teal5o50 :rgba(20,184,166,.50);
$teal5o75 :rgba(20,184,166,.75);
$teal5    :rgba(20,184,166,1);
$teal6o25 :rgba(13,148,136,.25);
$teal6o50 :rgba(13,148,136,.50);
$teal6o75 :rgba(13,148,136,.75);
$teal6    :rgba(13,148,136,1);
$teal7o25 :rgba(15,118,110,.25);
$teal7o50 :rgba(15,118,110,.50);
$teal7o75 :rgba(15,118,110,.75);
$teal7    :rgba(15,118,110,1);
$teal8o25 :rgba(17,94,89,.25);
$teal8o50 :rgba(17,94,89,.50);
$teal8o75 :rgba(17,94,89,.75);
$teal8    :rgba(17,94,89,1);
$teal9o25 :rgba(19,78,74,.25);
$teal9o50 :rgba(19,78,74,.50);
$teal9o75 :rgba(19,78,74,.75);
$teal9    :rgba(19,78,74,1);
$emer0o25 :rgba(236,253,245,.25);
$emer0o50 :rgba(236,253,245,.50);
$emer0o75 :rgba(236,253,245,.75);
$emer0    :rgba(236,253,245,1);
$emer1o25 :rgba(209,250,229,.25);
$emer1o50 :rgba(209,250,229,.50);
$emer1o75 :rgba(209,250,229,.75);
$emer1    :rgba(209,250,229,1);
$emer2o25 :rgba(167,243,208,.25);
$emer2o50 :rgba(167,243,208,.50);
$emer2o75 :rgba(167,243,208,.75);
$emer2    :rgba(167,243,208,1);
$emer3o25 :rgba(110,231,183,.25);
$emer3o50 :rgba(110,231,183,.50);
$emer3o75 :rgba(110,231,183,.75);
$emer3    :rgba(110,231,183,1);
$emer4o25 :rgba(52,211,153,.25);
$emer4o50 :rgba(52,211,153,.50);
$emer4o75 :rgba(52,211,153,.75);
$emer4    :rgba(52,211,153,1);
$emer5o25 :rgba(16,185,129,.25);
$emer5o50 :rgba(16,185,129,.50);
$emer5o75 :rgba(16,185,129,.75);
$emer5    :rgba(16,185,129,1);
$emer6o25 :rgba(5,150,105,.25);
$emer6o50 :rgba(5,150,105,.50);
$emer6o75 :rgba(5,150,105,.75);
$emer6    :rgba(5,150,105,1);
$emer7o25 :rgba(4,120,87,.25);
$emer7o50 :rgba(4,120,87,.50);
$emer7o75 :rgba(4,120,87,.75);
$emer7    :rgba(4,120,87,1);
$emer8o25 :rgba(6,95,70,.25);
$emer8o50 :rgba(6,95,70,.50);
$emer8o75 :rgba(6,95,70,.75);
$emer8    :rgba(6,95,70,1);
$emer9o25 :rgba(6,78,59,.25);
$emer9o50 :rgba(6,78,59,.50);
$emer9o75 :rgba(6,78,59,.75);
$emer9    :rgba(6,78,59,1);
$gree0o25 :rgba(240,253,244,.25);
$gree0o50 :rgba(240,253,244,.50);
$gree0o75 :rgba(240,253,244,.75);
$gree0    :rgba(240,253,244,1);
$gree1o25 :rgba(220,252,231,.25);
$gree1o50 :rgba(220,252,231,.50);
$gree1o75 :rgba(220,252,231,.75);
$gree1    :rgba(220,252,231,1);
$gree2o25 :rgba(187,247,208,.25);
$gree2o50 :rgba(187,247,208,.50);
$gree2o75 :rgba(187,247,208,.75);
$gree2    :rgba(187,247,208,1);
$gree3o25 :rgba(134,239,172,.25);
$gree3o50 :rgba(134,239,172,.50);
$gree3o75 :rgba(134,239,172,.75);
$gree3    :rgba(134,239,172,1);
$gree4o25 :rgba(74,222,128,.25);
$gree4o50 :rgba(74,222,128,.50);
$gree4o75 :rgba(74,222,128,.75);
$gree4    :rgba(74,222,128,1);
$gree5o25 :rgba(34,197,94,.25);
$gree5o50 :rgba(34,197,94,.50);
$gree5o75 :rgba(34,197,94,.75);
$gree5    :rgba(34,197,94,1);
$gree6o25 :rgba(22,163,74,.25);
$gree6o50 :rgba(22,163,74,.50);
$gree6o75 :rgba(22,163,74,.75);
$gree6    :rgba(22,163,74,1);
$gree7o25 :rgba(21,128,61,.25);
$gree7o50 :rgba(21,128,61,.50);
$gree7o75 :rgba(21,128,61,.75);
$gree7    :rgba(21,128,61,1);
$gree8o25 :rgba(22,101,52,.25);
$gree8o50 :rgba(22,101,52,.50);
$gree8o75 :rgba(22,101,52,.75);
$gree8    :rgba(22,101,52,1);
$gree9o25 :rgba(20,83,45,.25);
$gree9o50 :rgba(20,83,45,.50);
$gree9o75 :rgba(20,83,45,.75);
$gree9    :rgba(20,83,45,1);
$lime0o25 :rgba(247,254,231,.25);
$lime0o50 :rgba(247,254,231,.50);
$lime0o75 :rgba(247,254,231,.75);
$lime0    :rgba(247,254,231,1);
$lime1o25 :rgba(236,252,203,.25);
$lime1o50 :rgba(236,252,203,.50);
$lime1o75 :rgba(236,252,203,.75);
$lime1    :rgba(236,252,203,1);
$lime2o25 :rgba(217,249,157,.25);
$lime2o50 :rgba(217,249,157,.50);
$lime2o75 :rgba(217,249,157,.75);
$lime2    :rgba(217,249,157,1);
$lime3o25 :rgba(190,242,100,.25);
$lime3o50 :rgba(190,242,100,.50);
$lime3o75 :rgba(190,242,100,.75);
$lime3    :rgba(190,242,100,1);
$lime4o25 :rgba(163,230,53,.25);
$lime4o50 :rgba(163,230,53,.50);
$lime4o75 :rgba(163,230,53,.75);
$lime4    :rgba(163,230,53,1);
$lime5o25 :rgba(132,204,22,.25);
$lime5o50 :rgba(132,204,22,.50);
$lime5o75 :rgba(132,204,22,.75);
$lime5    :rgba(132,204,22,1);
$lime6o25 :rgba(101,163,13,.25);
$lime6o50 :rgba(101,163,13,.50);
$lime6o75 :rgba(101,163,13,.75);
$lime6    :rgba(101,163,13,1);
$lime7o25 :rgba(77,124,15,.25);
$lime7o50 :rgba(77,124,15,.50);
$lime7o75 :rgba(77,124,15,.75);
$lime7    :rgba(77,124,15,1);
$lime8o25 :rgba(63,98,18,.25);
$lime8o50 :rgba(63,98,18,.50);
$lime8o75 :rgba(63,98,18,.75);
$lime8    :rgba(63,98,18,1);
$lime9o25 :rgba(54,83,20,.25);
$lime9o50 :rgba(54,83,20,.50);
$lime9o75 :rgba(54,83,20,.75);
$lime9    :rgba(54,83,20,1);
$yell0o25 :rgba(254,252,232,.25);
$yell0o50 :rgba(254,252,232,.50);
$yell0o75 :rgba(254,252,232,.75);
$yell0    :rgba(254,252,232,1);
$yell1o25 :rgba(254,249,195,.25);
$yell1o50 :rgba(254,249,195,.50);
$yell1o75 :rgba(254,249,195,.75);
$yell1    :rgba(254,249,195,1);
$yell2o25 :rgba(254,240,138,.25);
$yell2o50 :rgba(254,240,138,.50);
$yell2o75 :rgba(254,240,138,.75);
$yell2    :rgba(254,240,138,1);
$yell3o25 :rgba(253,224,71,.25);
$yell3o50 :rgba(253,224,71,.50);
$yell3o75 :rgba(253,224,71,.75);
$yell3    :rgba(253,224,71,1);
$yell4o25 :rgba(250,204,21,.25);
$yell4o50 :rgba(250,204,21,.50);
$yell4o75 :rgba(250,204,21,.75);
$yell4    :rgba(250,204,21,1);
$yell5o25 :rgba(234,179,8,.25);
$yell5o50 :rgba(234,179,8,.50);
$yell5o75 :rgba(234,179,8,.75);
$yell5    :rgba(234,179,8,1);
$yell6o25 :rgba(202,138,4,.25);
$yell6o50 :rgba(202,138,4,.50);
$yell6o75 :rgba(202,138,4,.75);
$yell6    :rgba(202,138,4,1);
$yell7o25 :rgba(161,98,7,.25);
$yell7o50 :rgba(161,98,7,.50);
$yell7o75 :rgba(161,98,7,.75);
$yell7    :rgba(161,98,7,1);
$yell8o25 :rgba(133,77,14,.25);
$yell8o50 :rgba(133,77,14,.50);
$yell8o75 :rgba(133,77,14,.75);
$yell8    :rgba(133,77,14,1);
$yell9o25 :rgba(113,63,18,.25);
$yell9o50 :rgba(113,63,18,.50);
$yell9o75 :rgba(113,63,18,.75);
$yell9    :rgba(113,63,18,1);
$ambr0o25 :rgba(255,251,235,.25);
$ambr0o50 :rgba(255,251,235,.50);
$ambr0o75 :rgba(255,251,235,.75);
$ambr0    :rgba(255,251,235,1);
$ambr1o25 :rgba(254,243,199,.25);
$ambr1o50 :rgba(254,243,199,.50);
$ambr1o75 :rgba(254,243,199,.75);
$ambr1    :rgba(254,243,199,1);
$ambr2o25 :rgba(253,230,138,.25);
$ambr2o50 :rgba(253,230,138,.50);
$ambr2o75 :rgba(253,230,138,.75);
$ambr2    :rgba(253,230,138,1);
$ambr3o25 :rgba(252,211,77,.25);
$ambr3o50 :rgba(252,211,77,.50);
$ambr3o75 :rgba(252,211,77,.75);
$ambr3    :rgba(252,211,77,1);
$ambr4o25 :rgba(251,191,36,.25);
$ambr4o50 :rgba(251,191,36,.50);
$ambr4o75 :rgba(251,191,36,.75);
$ambr4    :rgba(251,191,36,1);
$ambr5o25 :rgba(245,158,11,.25);
$ambr5o50 :rgba(245,158,11,.50);
$ambr5o75 :rgba(245,158,11,.75);
$ambr5    :rgba(245,158,11,1);
$ambr6o25 :rgba(217,119,6,.25);
$ambr6o50 :rgba(217,119,6,.50);
$ambr6o75 :rgba(217,119,6,.75);
$ambr6    :rgba(217,119,6,1);
$ambr7o25 :rgba(180,83,9,.25);
$ambr7o50 :rgba(180,83,9,.50);
$ambr7o75 :rgba(180,83,9,.75);
$ambr7    :rgba(180,83,9,1);
$ambr8o25 :rgba(146,64,14,.25);
$ambr8o50 :rgba(146,64,14,.50);
$ambr8o75 :rgba(146,64,14,.75);
$ambr8    :rgba(146,64,14,1);
$ambr9o25 :rgba(120,53,15,.25);
$ambr9o50 :rgba(120,53,15,.50);
$ambr9o75 :rgba(120,53,15,.75);
$ambr9    :rgba(120,53,15,1);
$oran0o25 :rgba(255,247,237,.25);
$oran0o50 :rgba(255,247,237,.50);
$oran0o75 :rgba(255,247,237,.75);
$oran0    :rgba(255,247,237,1);
$oran1o25 :rgba(255,237,213,.25);
$oran1o50 :rgba(255,237,213,.50);
$oran1o75 :rgba(255,237,213,.75);
$oran1    :rgba(255,237,213,1);
$oran2o25 :rgba(254,215,170,.25);
$oran2o50 :rgba(254,215,170,.50);
$oran2o75 :rgba(254,215,170,.75);
$oran2    :rgba(254,215,170,1);
$oran3o25 :rgba(253,186,116,.25);
$oran3o50 :rgba(253,186,116,.50);
$oran3o75 :rgba(253,186,116,.75);
$oran3    :rgba(253,186,116,1);
$oran4o25 :rgba(251,146,60,.25);
$oran4o50 :rgba(251,146,60,.50);
$oran4o75 :rgba(251,146,60,.75);
$oran4    :rgba(251,146,60,1);
$oran5o25 :rgba(249,115,22,.25);
$oran5o50 :rgba(249,115,22,.50);
$oran5o75 :rgba(249,115,22,.75);
$oran5    :rgba(249,115,22,1);
$oran6o25 :rgba(234,88,12,.25);
$oran6o50 :rgba(234,88,12,.50);
$oran6o75 :rgba(234,88,12,.75);
$oran6    :rgba(234,88,12,1);
$oran7o25 :rgba(194,65,12,.25);
$oran7o50 :rgba(194,65,12,.50);
$oran7o75 :rgba(194,65,12,.75);
$oran7    :rgba(194,65,12,1);
$oran8o25 :rgba(154,52,18,.25);
$oran8o50 :rgba(154,52,18,.50);
$oran8o75 :rgba(154,52,18,.75);
$oran8    :rgba(154,52,18,1);
$oran9o25 :rgba(124,45,18,.25);
$oran9o50 :rgba(124,45,18,.50);
$oran9o75 :rgba(124,45,18,.75);
$oran9    :rgba(124,45,18,1);
$redd0o25 :rgba(254,242,242,.25);
$redd0o50 :rgba(254,242,242,.50);
$redd0o75 :rgba(254,242,242,.75);
$redd0    :rgba(254,242,242,1);
$redd1o25 :rgba(254,226,226,.25);
$redd1o50 :rgba(254,226,226,.50);
$redd1o75 :rgba(254,226,226,.75);
$redd1    :rgba(254,226,226,1);
$redd2o25 :rgba(254,202,202,.25);
$redd2o50 :rgba(254,202,202,.50);
$redd2o75 :rgba(254,202,202,.75);
$redd2    :rgba(254,202,202,1);
$redd3o25 :rgba(252,165,165,.25);
$redd3o50 :rgba(252,165,165,.50);
$redd3o75 :rgba(252,165,165,.75);
$redd3    :rgba(252,165,165,1);
$redd4o25 :rgba(248,113,113,.25);
$redd4o50 :rgba(248,113,113,.50);
$redd4o75 :rgba(248,113,113,.75);
$redd4    :rgba(248,113,113,1);
$redd5o25 :rgba(239,68,68,.25);
$redd5o50 :rgba(239,68,68,.50);
$redd5o75 :rgba(239,68,68,.75);
$redd5    :rgba(239,68,68,1);
$redd6o25 :rgba(220,38,38,.25);
$redd6o50 :rgba(220,38,38,.50);
$redd6o75 :rgba(220,38,38,.75);
$redd6    :rgba(220,38,38,1);
$redd7o25 :rgba(185,28,28,.25);
$redd7o50 :rgba(185,28,28,.50);
$redd7o75 :rgba(185,28,28,.75);
$redd7    :rgba(185,28,28,1);
$redd8o25 :rgba(153,27,27,.25);
$redd8o50 :rgba(153,27,27,.50);
$redd8o75 :rgba(153,27,27,.75);
$redd8    :rgba(153,27,27,1);
$redd9o25 :rgba(127,29,29,.25);
$redd9o50 :rgba(127,29,29,.50);
$redd9o75 :rgba(127,29,29,.75);
$redd9    :rgba(127,29,29,1);
$wrmg0o25 :rgba(250,250,249,.25);
$wrmg0o50 :rgba(250,250,249,.50);
$wrmg0o75 :rgba(250,250,249,.75);
$wrmg0    :rgba(250,250,249,1);
$wrmg1o25 :rgba(245,245,244,.25);
$wrmg1o50 :rgba(245,245,244,.50);
$wrmg1o75 :rgba(245,245,244,.75);
$wrmg1    :rgba(245,245,244,1);
$wrmg2o25 :rgba(231,229,228,.25);
$wrmg2o50 :rgba(231,229,228,.50);
$wrmg2o75 :rgba(231,229,228,.75);
$wrmg2    :rgba(231,229,228,1);
$wrmg3o25 :rgba(214,211,209,.25);
$wrmg3o50 :rgba(214,211,209,.50);
$wrmg3o75 :rgba(214,211,209,.75);
$wrmg3    :rgba(214,211,209,1);
$wrmg4o25 :rgba(168,162,158,.25);
$wrmg4o50 :rgba(168,162,158,.50);
$wrmg4o75 :rgba(168,162,158,.75);
$wrmg4    :rgba(168,162,158,1);
$wrmg5o25 :rgba(120,113,108,.25);
$wrmg5o50 :rgba(120,113,108,.50);
$wrmg5o75 :rgba(120,113,108,.75);
$wrmg5    :rgba(120,113,108,1);
$wrmg6o25 :rgba(87,83,78,.25);
$wrmg6o50 :rgba(87,83,78,.50);
$wrmg6o75 :rgba(87,83,78,.75);
$wrmg6    :rgba(87,83,78,1);
$wrmg7o25 :rgba(68,64,60,.25);
$wrmg7o50 :rgba(68,64,60,.50);
$wrmg7o75 :rgba(68,64,60,.75);
$wrmg7    :rgba(68,64,60,1);
$wrmg8o25 :rgba(41,37,36,.25);
$wrmg8o50 :rgba(41,37,36,.50);
$wrmg8o75 :rgba(41,37,36,.75);
$wrmg8    :rgba(41,37,36,1);
$wrmg9o25 :rgba(28,25,23,.25);
$wrmg9o50 :rgba(28,25,23,.50);
$wrmg9o75 :rgba(28,25,23,.75);
$wrmg9    :rgba(28,25,23,1);
$trug0o25 :rgba(250,250,250,.25);
$trug0o50 :rgba(250,250,250,.50);
$trug0o75 :rgba(250,250,250,.75);
$trug0    :rgba(250,250,250,1);
$trug1o25 :rgba(245,245,245,.25);
$trug1o50 :rgba(245,245,245,.50);
$trug1o75 :rgba(245,245,245,.75);
$trug1    :rgba(245,245,245,1);
$trug2o25 :rgba(229,229,229,.25);
$trug2o50 :rgba(229,229,229,.50);
$trug2o75 :rgba(229,229,229,.75);
$trug2    :rgba(229,229,229,1);
$trug3o25 :rgba(212,212,212,.25);
$trug3o50 :rgba(212,212,212,.50);
$trug3o75 :rgba(212,212,212,.75);
$trug3    :rgba(212,212,212,1);
$trug4o25 :rgba(163,163,163,.25);
$trug4o50 :rgba(163,163,163,.50);
$trug4o75 :rgba(163,163,163,.75);
$trug4    :rgba(163,163,163,1);
$trug5o25 :rgba(115,115,115,.25);
$trug5o50 :rgba(115,115,115,.50);
$trug5o75 :rgba(115,115,115,.75);
$trug5    :rgba(115,115,115,1);
$trug6o25 :rgba(82,82,82,.25);
$trug6o50 :rgba(82,82,82,.50);
$trug6o75 :rgba(82,82,82,.75);
$trug6    :rgba(82,82,82,1);
$trug7o25 :rgba(64,64,64,.25);
$trug7o50 :rgba(64,64,64,.50);
$trug7o75 :rgba(64,64,64,.75);
$trug7    :rgba(64,64,64,1);
$trug8o25 :rgba(38,38,38,.25);
$trug8o50 :rgba(38,38,38,.50);
$trug8o75 :rgba(38,38,38,.75);
$trug8    :rgba(38,38,38,1);
$trug9o25 :rgba(23,23,23,.25);
$trug9o50 :rgba(23,23,23,.50);
$trug9o75 :rgba(23,23,23,.75);
$trug9    :rgba(23,23,23,1);
$newg1o25 :rgba(240,243,245,.25);
$newg1o50 :rgba(240,243,245,.50);
$newg1o75 :rgba(240,243,245,.75);
$newg1    :rgba(240,243,245,1);
$gray0o25 :rgba(250,250,250,.25);
$gray0o50 :rgba(250,250,250,.50);
$gray0o75 :rgba(250,250,250,.75);
$gray0    :rgba(250,250,250,1);
$gray1o25 :rgba(244,244,245,.25);
$gray1o50 :rgba(244,244,245,.50);
$gray1o75 :rgba(244,244,245,.75);
$gray1    :rgba(244,244,245,1);
$gray2o25 :rgba(228,228,231,.25);
$gray2o50 :rgba(228,228,231,.50);
$gray2o75 :rgba(228,228,231,.75);
$gray2    :rgba(228,228,231,1);
$gray3o25 :rgba(212,212,216,.25);
$gray3o50 :rgba(212,212,216,.50);
$gray3o75 :rgba(212,212,216,.75);
$gray3    :rgba(212,212,216,1);
$gray4o25 :rgba(161,161,170,.25);
$gray4o50 :rgba(161,161,170,.50);
$gray4o75 :rgba(161,161,170,.75);
$gray4    :rgba(161,161,170,1);
$gray5o25 :rgba(113,113,122,.25);
$gray5o50 :rgba(113,113,122,.50);
$gray5o75 :rgba(113,113,122,.75);
$gray5    :rgba(113,113,122,1);
$gray6o25 :rgba(82,82,91,.25);
$gray6o50 :rgba(82,82,91,.50);
$gray6o75 :rgba(82,82,91,.75);
$gray6    :rgba(82,82,91,1);
$gray7o25 :rgba(63,63,70,.25);
$gray7o50 :rgba(63,63,70,.50);
$gray7o75 :rgba(63,63,70,.75);
$gray7    :rgba(63,63,70,1);
$gray8o25 :rgba(39,39,42,.25);
$gray8o50 :rgba(39,39,42,.50);
$gray8o75 :rgba(39,39,42,.75);
$gray8    :rgba(39,39,42,1);
$gray9o25 :rgba(24,24,27,.25);
$gray9o50 :rgba(24,24,27,.50);
$gray9o75 :rgba(24,24,27,.75);
$gray9    :rgba(24,24,27,1);
$colg0o25 :rgba(249,250,251,.25);
$colg0o50 :rgba(249,250,251,.50);
$colg0o75 :rgba(249,250,251,.75);
$colg0    :rgba(249,250,251,1);
$colg1o25 :rgba(243,244,246,.25);
$colg1o50 :rgba(243,244,246,.50);
$colg1o75 :rgba(243,244,246,.75);
$colg1    :rgba(243,244,246,1);
$colg2o25 :rgba(229,231,235,.25);
$colg2o50 :rgba(229,231,235,.50);
$colg2o75 :rgba(229,231,235,.75);
$colg2    :rgba(229,231,235,1);
$colg3o25 :rgba(209,213,219,.25);
$colg3o50 :rgba(209,213,219,.50);
$colg3o75 :rgba(209,213,219,.75);
$colg3    :rgba(209,213,219,1);
$colg4o25 :rgba(156,163,175,.25);
$colg4o50 :rgba(156,163,175,.50);
$colg4o75 :rgba(156,163,175,.75);
$colg4    :rgba(156,163,175,1);
$colg5o25 :rgba(107,114,128,.25);
$colg5o50 :rgba(107,114,128,.50);
$colg5o75 :rgba(107,114,128,.75);
$colg5    :rgba(107,114,128,1);
$colg6o25 :rgba(75,85,99,.25);
$colg6o50 :rgba(75,85,99,.50);
$colg6o75 :rgba(75,85,99,.75);
$colg6    :rgba(75,85,99,1);
$colg7o25 :rgba(55,65,81,.25);
$colg7o50 :rgba(55,65,81,.50);
$colg7o75 :rgba(55,65,81,.75);
$colg7    :rgba(55,65,81,1);
$colg8o25 :rgba(31,41,55,.25);
$colg8o50 :rgba(31,41,55,.50);
$colg8o75 :rgba(31,41,55,.75);
$colg8    :rgba(31,41,55,1);
$colg9o25 :rgba(17,24,39,.25);
$colg9o50 :rgba(17,24,39,.50);
$colg9o75 :rgba(17,24,39,.75);
$colg9    :rgba(17,24,39,1);
$blug0o25 :rgba(248,250,252,.25);
$blug0o50 :rgba(248,250,252,.50);
$blug0o75 :rgba(248,250,252,.75);
$blug0    :rgba(248,250,252,1);
$blug1o25 :rgba(241,245,249,.25);
$blug1o50 :rgba(241,245,249,.50);
$blug1o75 :rgba(241,245,249,.75);
$blug1    :rgba(241,245,249,1);
$blug2o25 :rgba(226,232,240,.25);
$blug2o50 :rgba(226,232,240,.50);
$blug2o75 :rgba(226,232,240,.75);
$blug2    :rgba(226,232,240,1);
$blug3o25 :rgba(203,213,225,.25);
$blug3o50 :rgba(203,213,225,.50);
$blug3o75 :rgba(203,213,225,.75);
$blug3    :rgba(203,213,225,1);
$blug4o25 :rgba(148,163,184,.25);
$blug4o50 :rgba(148,163,184,.50);
$blug4o75 :rgba(148,163,184,.75);
$blug4    :rgba(148,163,184,1);
$blug5o25 :rgba(100,116,139,.25);
$blug5o50 :rgba(100,116,139,.50);
$blug5o75 :rgba(100,116,139,.75);
$blug5    :rgba(100,116,139,1);
$blug6o25 :rgba(71,85,105,.25);
$blug6o50 :rgba(71,85,105,.50);
$blug6o75 :rgba(71,85,105,.75);
$blug6    :rgba(71,85,105,1);
$blug7o25 :rgba(51,65,85,.25);
$blug7o50 :rgba(51,65,85,.50);
$blug7o75 :rgba(51,65,85,.75);
$blug7    :rgba(51,65,85,1);
$blug8o25 :rgba(30,41,59,.25);
$blug8o50 :rgba(30,41,59,.50);
$blug8o75 :rgba(30,41,59,.75);
$blug8    :rgba(30,41,59,1);
$blug9o25 :rgba(15,23,42,.25);
$blug9o50 :rgba(15,23,42,.50);
$blug9o75 :rgba(15,23,42,.75);
$blug9    :rgba(15,23,42,1);

@mixin three-d-btn($col) {
  background-color: $col;
  border-top: $bdr-width solid lighten($col, 8%);
  border-left: $bdr-width solid lighten($col, 8%);
  border-bottom: $bdr-width solid darken($col, 8%);
  border-right: $bdr-width solid darken($col, 8%);

  &:not(:disabled):hover {
    color: white;
  }

  &:not(:disabled):active {
    @include three-d-btn-down($col);
  }
}

@mixin three-d-btn-down($col) {
  background-color: darken($col, 2%);
  border-top: $bdr-width solid darken($col, 8%);
  border-left: $bdr-width solid darken($col, 8%);
  border-bottom: $bdr-width solid lighten($col, 8%);
  border-right: $bdr-width solid lighten($col, 8%);
}