// colors

$black :rgba(0,0,0,1);
$white :rgba(255,255,255,1);
$rose0 :rgba(255,241,242,1);
$rose1 :rgba(255,228,230,1);
$rose2 :rgba(254,205,211,1);
$rose3 :rgba(253,164,175,1);
$rose4 :rgba(251,113,133,1);
$rose5 :rgba(244,63,94,1);
$rose6 :rgba(225,29,72,1);
$rose7 :rgba(190,18,60,1);
$rose8 :rgba(159,18,57,1);
$rose9 :rgba(136,19,55,1);
$pink0 :rgba(253,242,248,1);
$pink1 :rgba(252,231,243,1);
$pink2 :rgba(251,207,232,1);
$pink3 :rgba(249,168,212,1);
$pink4 :rgba(244,114,182,1);
$pink5 :rgba(236,72,153,1);
$pink6 :rgba(219,39,119,1);
$pink7 :rgba(190,24,93,1);
$pink8 :rgba(157,23,77,1);
$pink9 :rgba(131,24,67,1);
$fuch0 :rgba(253,244,255,1);
$fuch1 :rgba(250,232,255,1);
$fuch2 :rgba(245,208,254,1);
$fuch3 :rgba(240,171,252,1);
$fuch4 :rgba(232,121,249,1);
$fuch5 :rgba(217,70,239,1);
$fuch6 :rgba(192,38,211,1);
$fuch7 :rgba(162,28,175,1);
$fuch8 :rgba(134,25,143,1);
$fuch9 :rgba(112,26,117,1);
$purp0 :rgba(250,245,255,1);
$purp1 :rgba(243,232,255,1);
$purp2 :rgba(233,213,255,1);
$purp3 :rgba(216,180,254,1);
$purp4 :rgba(192,132,252,1);
$purp5 :rgba(168,85,247,1);
$purp6 :rgba(147,51,234,1);
$purp7 :rgba(126,34,206,1);
$purp8 :rgba(107,33,168,1);
$purp9 :rgba(88,28,135,1);
$viol0 :rgba(245,243,255,1);
$viol1 :rgba(237,233,254,1);
$viol2 :rgba(221,214,254,1);
$viol3 :rgba(196,181,253,1);
$viol4 :rgba(167,139,250,1);
$viol5 :rgba(139,92,246,1);
$viol6 :rgba(124,58,237,1);
$viol7 :rgba(109,40,217,1);
$viol8 :rgba(91,33,182,1);
$viol9 :rgba(76,29,149,1);
$indi0 :rgba(238,242,255,1);
$indi1 :rgba(224,231,255,1);
$indi2 :rgba(199,210,254,1);
$indi3 :rgba(165,180,252,1);
$indi4 :rgba(129,140,248,1);
$indi5 :rgba(99,102,241,1);
$indi6 :rgba(79,70,229,1);
$indi7 :rgba(67,56,202,1);
$indi8 :rgba(55,48,163,1);
$indi9 :rgba(49,46,129,1);
$blue0 :rgba(239,246,255,1);
$blue1 :rgba(219,234,254,1);
$blue2 :rgba(191,219,254,1);
$blue3 :rgba(147,197,253,1);
$blue4 :rgba(96,165,250,1);
$blue5 :rgba(59,130,246,1);
$blue6 :rgba(37,99,235,1);
$blue7 :rgba(29,78,216,1);
$blue8 :rgba(30,64,175,1);
$blue9 :rgba(30,58,138,1);
$libl0 :rgba(240,249,255,1);
$libl1 :rgba(224,242,254,1);
$libl2 :rgba(186,230,253,1);
$libl3 :rgba(125,211,252,1);
$libl4 :rgba(56,189,248,1);
$libl5 :rgba(14,165,233,1);
$libl6 :rgba(2,132,199,1);
$libl7 :rgba(3,105,161,1);
$libl8 :rgba(7,89,133,1);
$libl9 :rgba(12,74,110,1);
$cyan0 :rgba(236,254,255,1);
$cyan1 :rgba(207,250,254,1);
$cyan2 :rgba(165,243,252,1);
$cyan3 :rgba(103,232,249,1);
$cyan4 :rgba(34,211,238,1);
$cyan5 :rgba(6,182,212,1);
$cyan6 :rgba(8,145,178,1);
$cyan7 :rgba(14,116,144,1);
$cyan8 :rgba(21,94,117,1);
$cyan9 :rgba(22,78,99,1);
$teal0 :rgba(240,253,250,1);
$teal1 :rgba(204,251,241,1);
$teal2 :rgba(153,246,228,1);
$teal3 :rgba(94,234,212,1);
$teal4 :rgba(45,212,191,1);
$teal5 :rgba(20,184,166,1);
$teal6 :rgba(13,148,136,1);
$teal7 :rgba(15,118,110,1);
$teal8 :rgba(17,94,89,1);
$teal9 :rgba(19,78,74,1);
$emer0 :rgba(236,253,245,1);
$emer1 :rgba(209,250,229,1);
$emer2 :rgba(167,243,208,1);
$emer3 :rgba(110,231,183,1);
$emer4 :rgba(52,211,153,1);
$emer5 :rgba(16,185,129,1);
$emer6 :rgba(5,150,105,1);
$emer7 :rgba(4,120,87,1);
$emer8 :rgba(6,95,70,1);
$emer9 :rgba(6,78,59,1);
$gree0 :rgba(240,253,244,1);
$gree1 :rgba(220,252,231,1);
$gree2 :rgba(187,247,208,1);
$gree3 :rgba(134,239,172,1);
$gree4 :rgba(74,222,128,1);
$gree5 :rgba(34,197,94,1);
$gree6 :rgba(22,163,74,1);
$gree7 :rgba(21,128,61,1);
$gree8 :rgba(22,101,52,1);
$gree9 :rgba(20,83,45,1);
$lime0 :rgba(247,254,231,1);
$lime1 :rgba(236,252,203,1);
$lime2 :rgba(217,249,157,1);
$lime3 :rgba(190,242,100,1);
$lime4 :rgba(163,230,53,1);
$lime5 :rgba(132,204,22,1);
$lime6 :rgba(101,163,13,1);
$lime7 :rgba(77,124,15,1);
$lime8 :rgba(63,98,18,1);
$lime9 :rgba(54,83,20,1);
$yell0 :rgba(254,252,232,1);
$yell1 :rgba(254,249,195,1);
$yell2 :rgba(254,240,138,1);
$yell3 :rgba(253,224,71,1);
$yell4 :rgba(250,204,21,1);
$yell5 :rgba(234,179,8,1);
$yell6 :rgba(202,138,4,1);
$yell7 :rgba(161,98,7,1);
$yell8 :rgba(133,77,14,1);
$yell9 :rgba(113,63,18,1);
$ambr0 :rgba(255,251,235,1);
$ambr1 :rgba(254,243,199,1);
$ambr2 :rgba(253,230,138,1);
$ambr3 :rgba(252,211,77,1);
$ambr4 :rgba(251,191,36,1);
$ambr5 :rgba(245,158,11,1);
$ambr6 :rgba(217,119,6,1);
$ambr7 :rgba(180,83,9,1);
$ambr8 :rgba(146,64,14,1);
$ambr9 :rgba(120,53,15,1);
$oran0 :rgba(255,247,237,1);
$oran1 :rgba(255,237,213,1);
$oran2 :rgba(254,215,170,1);
$oran3 :rgba(253,186,116,1);
$oran4 :rgba(251,146,60,1);
$oran5 :rgba(249,115,22,1);
$oran6 :rgba(234,88,12,1);
$oran7 :rgba(194,65,12,1);
$oran8 :rgba(154,52,18,1);
$oran9 :rgba(124,45,18,1);
$redd0 :rgba(254,242,242,1);
$redd1 :rgba(254,226,226,1);
$redd2 :rgba(254,202,202,1);
$redd3 :rgba(252,165,165,1);
$redd4 :rgba(248,113,113,1);
$redd5 :rgba(239,68,68,1);
$redd6 :rgba(220,38,38,1);
$redd7 :rgba(185,28,28,1);
$redd8 :rgba(153,27,27,1);
$redd9 :rgba(127,29,29,1);
$wrmg0 :rgba(250,250,249,1);
$wrmg1 :rgba(245,245,244,1);
$wrmg2 :rgba(231,229,228,1);
$wrmg3 :rgba(214,211,209,1);
$wrmg4 :rgba(168,162,158,1);
$wrmg5 :rgba(120,113,108,1);
$wrmg6 :rgba(87,83,78,1);
$wrmg7 :rgba(68,64,60,1);
$wrmg8 :rgba(41,37,36,1);
$wrmg9 :rgba(28,25,23,1);
$trug0 :rgba(250,250,250,1);
$trug1 :rgba(245,245,245,1);
$trug2 :rgba(229,229,229,1);
$trug3 :rgba(212,212,212,1);
$trug4 :rgba(163,163,163,1);
$trug5 :rgba(115,115,115,1);
$trug6 :rgba(82,82,82,1);
$trug7 :rgba(64,64,64,1);
$trug8 :rgba(38,38,38,1);
$trug9 :rgba(23,23,23,1);
$gray0 :rgba(250,250,250,1);
$gray1 :rgba(244,244,245,1);
$gray2 :rgba(228,228,231,1);
$gray3 :rgba(212,212,216,1);
$gray4 :rgba(161,161,170,1);
$gray5 :rgba(113,113,122,1);
$gray6 :rgba(82,82,91,1);
$gray7 :rgba(63,63,70,1);
$gray8 :rgba(39,39,42,1);
$gray9 :rgba(24,24,27,1);
$colg0 :rgba(249,250,251,1);
$colg1 :rgba(243,244,246,1);
$colg2 :rgba(229,231,235,1);
$colg3 :rgba(209,213,219,1);
$colg4 :rgba(156,163,175,1);
$colg5 :rgba(107,114,128,1);
$colg6 :rgba(75,85,99,1);
$colg7 :rgba(55,65,81,1);
$colg8 :rgba(31,41,55,1);
$colg9 :rgba(17,24,39,1);
$blug0 :rgba(248,250,252,1);
$blug1 :rgba(241,245,249,1);
$blug2 :rgba(226,232,240,1);
$blug3 :rgba(203,213,225,1);
$blug4 :rgba(148,163,184,1);
$blug5 :rgba(100,116,139,1);
$blug6 :rgba(71,85,105,1);
$blug7 :rgba(51,65,85,1);
$blug8 :rgba(30,41,59,1);
$blug9 :rgba(15,23,42,1);
$newg1 :rgba(240,243,245,1);