// Core

@import './colors.scss';
@import './mixins.scss';
@import './styled-markdown.scss';

// Reset

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: $darkest;
  background-image: url('../assets/bg-tp.png');
  background-repeat: repeat;
  background-size: calc(2240px/2) calc(1400px/2);
}

*, *:before, *:after {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .025rem;
  color: $light;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 0;

  &:focus {
    outline: none;
  };
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* App Container */

div#root {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  // width: max-content;
  height: 100%;

  & > main {
    margin: $mar $mar 0 $mar;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
    max-height: calc(100% - (0.5rem));
  }
}

// App Grid

.con--announcer    { grid-area: anno; }
.con--info         { grid-area: info; }
.con--memberlist   { grid-area: list; }
.con--lobbychat    { grid-area: chat; }
.con--chatbutton   { grid-area: cbtn; }
.con--setup        { grid-area: setu; }
.con--foot         { grid-area: foot; }

.con--players      { grid-area: play; }
.con--ghost        { grid-area: ghst; }
.con--self         { grid-area: self; }
.con--timer        { grid-area: time; }

.grid--lobby-nogame,
.grid--lobby-game-ghost,
.grid--lobby-game {
  display: grid;
  row-gap: $gap;
  height: 100%;
  width: 100%;
}

.grid--lobby-nogame {
  grid-template-columns: 1fr 800px repeat(2, max-content) 1fr;
  grid-template-rows: repeat(3, max-content) 1fr max-content;

  &.chat {
    grid-template-areas:
      ".    anno anno cbtn .   "
      ".    info chat chat .   "
      ".    setu chat chat .   "
      ".    list chat chat .   "
      "foot foot foot foot foot";
  };

  &.nochat {
    grid-template-areas:
      ".    anno anno cbtn .   "
      ".    info info info .   "
      ".    setu setu setu .   "
      ".    list list list .   "
      "foot foot foot foot foot";
  };
}

.grid--lobby-game,
.grid--lobby-game-ghost {
  grid-template-columns: 1fr repeat(4, max-content) 1fr;
}

.grid--lobby-game.chat {
  grid-template-rows: repeat(3, max-content) 1fr repeat(2, max-content);
  grid-template-areas:
    ".    anno anno anno cbtn .   "
    ".    info info chat chat .   "
    ".    ghst time chat chat .   "
    ".    play play chat chat .   "
    ".    self self chat chat .   "
    "foot foot foot foot foot foot";
}

.grid--lobby-game-ghost.chat {
  grid-template-rows: repeat(3, max-content) 1fr max-content;
  grid-template-areas:
    ".    anno anno anno cbtn .   "
    ".    info info chat chat .   "
    ".    self time chat chat .   "
    ".    play play chat chat .   "
    "foot foot foot foot foot foot";
}

.grid--lobby-game.nochat {
  grid-template-rows: repeat(3, max-content) 1fr repeat(2, max-content);
  grid-template-areas:
    ".    anno anno anno cbtn .   "
    ".    info info info info .   "
    ".    ghst time time time .   "
    ".    play play play play .   "
    ".    self self self self .   "
    "foot foot foot foot foot foot";
}

.grid--lobby-game-ghost.nochat {
  grid-template-rows: repeat(3, max-content) 1fr max-content;
  grid-template-areas:
    ".    anno anno anno cbtn .   "
    ".    info info info info .   "
    ".    self time time time .   "
    ".    play play play play .   "
    "foot foot foot foot foot foot";
}

// Component Containers

.container {
  padding: .5rem;
  border-radius: $rad6;
}

.con--setup,
.con--info,
.con--memberlist {
  padding: 1rem;
}

// .con--lobbychat,
.con--announcer,
.con--setup,
.con--info,
.con--memberlist {
  // background-color: transparentize($darker, .75);
  // border: 2px solid $dark;
  background-color: none;
}

// Misc

.preload,
.preload:before {
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}