// Core

@import './colors.scss';
@import './mixins.scss';
@import './smd.scss';

// Reset

html, body {
  margin: 0;
  padding: 0;
  background: $defbg;
  height: 100%;
}

*, *:before, *:after {
  @include z(500);
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: .025rem;
  color: $default;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 0;
}

button:focus { outline: none; }

/* App Container */

div.app-root {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: max-content;
  height: 100%;
}

main.app {
  margin: $mar $mar 0 $mar;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  max-height: calc(100% - (0.5rem));
}

// App Grid

.con--announcer    { grid-area: anno; }
.con--info         { grid-area: info; }
.con--memberlist   { grid-area: list; }
.con--lobbychat    { grid-area: chat; }
.con--setup        { grid-area: setu; }
.con--foot         { grid-area: foot; }

.con--players      { grid-area: play; }
.con--ghost        { grid-area: ghst; }
.con--self         { grid-area: self; }
.con--timer        { grid-area: time; }

.grid--lobby-nogame,
.grid--lobby-game-ghost,
.grid--lobby-game {
  display: grid;
  gap: $gap;
  height: 100%;
}

.grid--lobby-nogame {
  grid-template-columns: 800px max-content;
  grid-template-rows: repeat(3, max-content) 1fr max-content;
  &.chat {
    grid-template-areas:
      "anno chat"
      "info chat"
      "setu chat"
      "list chat"
      "foot foot";
  }
  &.nochat {
    grid-template-areas:
      "anno chat"
      "info info"
      "setu setu"
      "list list"
      "foot foot";
  }
}

.grid--lobby-game-ghost,
.grid--lobby-game {
  grid-template-columns: max-content 1fr max-content;
}

.grid--lobby-game.chat {
  grid-template-rows: repeat(3, max-content) 1fr repeat(2, max-content);
  grid-template-areas:
    "anno anno chat"
    "info info chat"
    "ghst time chat"
    "play play chat"
    "self self chat"
    "foot foot foot";
}

.grid--lobby-game-ghost.chat {
  grid-template-rows: repeat(3, max-content) 1fr max-content;
  grid-template-areas:
    "anno anno chat"
    "info info chat"
    "self time chat"
    "play play chat"
    "foot foot foot";
}

.grid--lobby-game.nochat {
  grid-template-rows: repeat(3, max-content) 1fr repeat(2, max-content);
  grid-template-areas:
    "anno anno chat"
    "info info info"
    "ghst time time"
    "play play play"
    "self self self"
    "foot foot foot";
}

.grid--lobby-game-ghost.nochat {
  grid-template-rows: repeat(3, max-content) 1fr max-content;
  grid-template-areas:
    "anno anno chat"
    "info info info"
    "self time time"
    "play play play"
    "foot foot foot";
}

// Component Containers

.container {
  padding: .5rem;
  border-radius: $rad;
}

.con--setup,
.con--info,
.con--memberlist {
  background-color: $bg4;
  padding: 1rem;
}

.con--players {
  padding: 0;
}

.player-list {
  width: 100%;
  display: grid;
  gap: .5rem;
  grid-template-columns: min-content min-content;
}

// Misc

.preload,
.preload:before {
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}