
@import './colors.scss';
@import './mixins.scss';

/* RESET */

html, body {
  margin: 0;
  padding: 0;
  background: $defbg;
  height: 100%;
}

*, *:before, *:after {
  @include z(500);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  letter-spacing: .025rem;
  color: $default;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 0;
}

button:focus { outline: none; }

/* ////////////////////////////////////////// */

// body { 
//   background: url('../assets/images/alley-bg.jpg') no-repeat center center fixed;
//   -webkit-background-size: cover;
//      -moz-background-size: cover;
//        -o-background-size: cover;
//           background-size: cover;
// }

div.app-root {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: max-content;
  height: 100%;
}

main.app {
  margin: $mar $mar 0 $mar;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  max-height: calc(100% - (0.5rem));
}

/* GRID */

.con--announcer    { grid-area: anno; }
.con--info         { grid-area: info; }
.con--memberlist   { grid-area: list; }
.con--lobbychat    { grid-area: chat; }
.con--setup        { grid-area: setu; }
.con--foot         { grid-area: foot; }

.con--players      { grid-area: play; }
.con--ghost        { grid-area: ghst; }
.con--self         { grid-area: self; }
.con--timer        { grid-area: time; }

.grid--lobby-nogame,
.grid--lobby-game-ghost,
.grid--lobby-game {
  display: grid;
  gap: $gap;
  height: 100%;
}

.grid--lobby-nogame {
  grid-template-columns: 600px max-content;
  grid-template-rows: repeat(3, max-content) 1fr max-content;
  &.chat {
    grid-template-areas:
      "anno chat"
      "info chat"
      "setu chat"
      "list chat"
      "foot foot";
  }
  &.nochat {
    grid-template-areas:
      "anno chat"
      "info info"
      "setu setu"
      "list list"
      "foot foot";
  }
}

.grid--lobby-game-ghost,
.grid--lobby-game {
  grid-template-columns: max-content 1fr max-content;
}

.grid--lobby-game.chat {
  grid-template-rows: repeat(3, max-content) 1fr repeat(2, max-content);
  grid-template-areas:
    "anno anno chat"
    "info info chat"
    "ghst time chat"
    "play play chat"
    "self self chat"
    "foot foot foot";
}

.grid--lobby-game-ghost.chat {
  grid-template-rows: repeat(3, max-content) 1fr max-content;
  grid-template-areas:
    "anno anno chat"
    "info info chat"
    "self time chat"
    "play play chat"
    "foot foot foot";
}

.grid--lobby-game.nochat {
  grid-template-rows: repeat(3, max-content) 1fr repeat(2, max-content);
  grid-template-areas:
    "anno anno chat"
    "info info info"
    "ghst time time"
    "play play play"
    "self self self"
    "foot foot foot";
}

.grid--lobby-game-ghost.nochat {
  grid-template-rows: repeat(3, max-content) 1fr max-content;
  grid-template-areas:
    "anno anno chat"
    "info info info"
    "self time time"
    "play play play"
    "foot foot foot";
}

/* CONTAINERS */

.container {
  padding: .5rem;
  border-radius: $rad;
}

.con--setup,
.con--info,
.con--memberlist {
  background-color: $bg4;
  padding: 1rem;
}

.con--players {
  padding: 0;
  // background-color: $bg4;
}

.player-list {
  width: 100%;
  display: grid;
  gap: .5rem;
  grid-template-columns: min-content min-content;
}

.con--info.game > :not(:nth-child(1)) {
  margin-left: .5rem;
}

.emphasize {
  font-weight: bold;
  /* font-style: italic; */
}

/* BUTTONS */

.placeholder {
  height: 1.3rem;
  width: 100%;
  margin: 0;
}

.rtw-unchecked {
  background-color: $bg2;
}

.rtw-checked {
  background-color: $emer5;
}

.hidden {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* FORMS */

.label {
  margin-right: 0.5rem;
  font-size: larger;
}

.input,
.textarea {
  border: none;
  border-radius: $rad;
  background: $bg5;
  padding: 3px .5rem;
  font-size: larger;
}

::placeholder {
  color: $bg2;
}

.input:focus,
.textarea:focus {
  outline: none;
}

.join-lobby-inputs-wrapper {
  display: block;
}

.form--invalid input,
.form--invalid textarea {
  border-color: $oran4;
}

/* MISC */

.gameresult {
  width: 100%;
  text-align: center;
  text-justify: center;
}

.sessinfo {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preload,
.preload:before {
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

/* MODAL */

.modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: 10%;
  width: 80%;
  background: $bg3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: $rad;
}

.modal__header {
  width: 100%;
  /* padding: 0.5rem 3px; */
  background: $oran6;
  color: white;
}

.modal__header h2 {
  margin: 0.5rem;
}

.modal__content {
  padding: 1rem 0.5rem;
}

.modal__footer {
  padding: 1rem 0.5rem;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 16rem);
    width: 32rem;
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}

/* LOADING */

.loading-content::before,
.loading-content {
  font-size: 30pt;
}

.loading-content::before {
  position: relative;
  bottom: .5rem;
}

.loading-content.blue::before,
.loading-content.blue {
  color: $cyan3;
}

.loading-content.orange::before,
.loading-content.orange {
  color: $oran3;
}

.loading-content.purple::before,
.loading-content.purple {
  color: $fuch4;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $defbg;
  z-index: 1;
}

.suspenseful {
  animation: darken 4s ease-in-out;
}

@keyframes darken {
  0% { opacity: 0%; }
  30% { opacity: 95%; }
  70% { opacity: 95%; }
  100% { opacity: 0%; }
}

.rotator:before {
  animation-name: code-rotator;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  content: '';
}

@keyframes code-rotator {
    0% { content: '⠁'; }
    6% { content: '⠉'; }
   12% { content: '⠙'; }
   18% { content: '⠹'; }
   25% { content: '⢹'; }
   31% { content: '⣹'; }
   37% { content: '⣽'; }
   43% { content: '⣿'; }
   50% { content: '⣾'; }
   56% { content: '⣶'; }
   62% { content: '⣦'; }
   68% { content: '⣆'; }
   75% { content: '⡆'; }
   81% { content: '⠆'; }
   87% { content: '⠂'; }
   93% { content: '⠀'; }
  100% { content: '⠁'; }
}

/* .default.member.name, */
.default.string--username {
  color: $colg4;
}

/* .red.member.name, */
.red.string--username {
  color: $redd4;
}

/* .blue.member.name, */
.blue.string--username {
  color: $blue4;
}

/* .green.member.name, */
.green.string--username {
  color: $lime4;
}

/* .yellow.member.name, */
.yellow.string--username {
  color: $yell4;
}

/* .orange.member.name, */
.orange.string--username {
  color: $oran4;
}

/* .purple.member.name, */
.purple.string--username {
  color: $fuch4;
}

/* .pink.member.name, */
.pink.string--username {
  color: $pink4;
}

/* .cyan.member.name, */
.cyan.string--username {
  color: $cyan4;
}

/* .emerald.member.name, */
.emerald.string--username {
  color: $emer4;
}

/* .violet.member.name, */
.violet.string--username {
  color: $viol4;
}

/* .rose.member.name, */
.rose.string--username {
  color: $rose5;
}

/* .amber.member.name, */
.amber.string--username {
  color: $ambr5;
}