
:root {
  --default-light : var(--colg2);
  --default :       var(--gray4);

  --bg1 : var(--gray5);
  --bg2 : var(--gray6);
  --bg3 : var(--gray7);
  --bg4 : var(--gray8);
  --bg5 : var(--gray9);

  --evligt   : var(--colg5);
  --evdark   : var(--colg6);
  --meligt   : var(--wrmg5);
  --medark   : var(--wrmg6);
  --hiligt   : var(--redd4);
  --killer   : var(--redd4);
  --accomp   : var(--redd3);
  --hunter   : var(--gree4);
  --witnss   : var(--libl4);
  --ghost    : var(--fuch5);
  --ghostli  : var(--fuch4);
  --cause    : var(--purp8);
  --locate   : var(--emer8);
  --cluold   : var(--colg7);
  --clunew   : var(--colg6);
  --badge    : var(--yell4);
  --mystry   : var(--viol4);
  --leader   : var(--yell5);
  --ready    : var(--emer6);
  --readyli  : var(--emer5);
}

/* RESET
*/

:root { --rad: 2px; --mar: .5rem; --bdr: 1px; }

/* @font-face {
  font-family: 'Iosevka ss02';
  src: url('../assets/fonts/iosevka-ss02-regular.ttf') format('truetype');
} */

html, body {
  margin: 0;
  padding: 0;
  background: var(--bg5);
  /* overflow: overlay; */
  /* height: 100%; */
  /* overflow: hidden; */
}

/* div.grid--lobby, */
div.app-root {
  /* display: flex;
  flex-direction: column;
  flex-grow: 1; */
  margin: 0 auto;
  width: max-content;
  height: 100%;
  /* overflow: hidden; */
}

main.app {
  background: var(--bg5);
  margin: var(--mar);
  /* display: flex;
  flex-direction: column;
  flex-grow: 1; */
  /* height: calc(100% - 40px); */
  /* overflow: hidden; */
  height: 100%;
}

*, *:before, *:after {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .025rem;
  color: var(--default-light);
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: none;
}

button:focus { outline: none; }

/* SHARED */

.badge {
  color: var(--ambr2);
  background-color: var(--yell5);
  border-top: .33rem solid var(--yell4);
  border-left: .33rem solid var(--yell4);
  border-bottom: .33rem solid var(--yell6);
  border-right: .33rem solid var(--yell6);
}

.badge.can-accuse {
  opacity: 100%;
}

.badge.accusal-spent {
  opacity: 25%;
}

/* ////////////////////////////////////////// */

/* GRID */

.con--head         { grid-area: headr; }
.con--foot         { grid-area: footr; }
.con--errormsg     { grid-area: ermsg; }

.con--newlobby     { grid-area: newlo; }
.con--joinlobby    { grid-area: joinl; }

.con--foyertitle   { grid-area: fyrti; }
.con--foyerjoin    { grid-area: fyrjo; }

.con--dev          { grid-area: dev; }
.con--announcer    { grid-area: anncr; }
.con--info         { grid-area: info; }
.con--lobbymembers { grid-area: lmemb; }
.con--lobbychat    { grid-area: lchat; }
.con--lobbymain    { grid-area: lmain; }
.con--lobbycontrols{ grid-area: lctrl; }

.grid--landing,
.grid--foyer {
  display: grid;
  padding: var(--mar);
  gap: var(--mar);
  grid-template-columns: 1fr;
}

.grid--foyer {
  grid-template-areas:
    "headr"
    "fyrjo";
}

.grid--landing {
  grid-template-areas:
    "headr"
    "newlo"
    "joinl";
}

.grid--lobby-nogame {
  display: grid;
  /* height: 100%; */
  /* overflow: hidden; */
  /* width: max-content; */
  gap: var(--mar);
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content 500px;
  grid-template-areas:
    "dev dev"
    "lmain lchat";
}

.grid--lobby-game {
  display: grid;
  gap: var(--mar);
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  grid-template-areas:
    "dev dev"
    "lmain lchat";
}

.grid--main-nogame {
  display: grid;
  width: 100%;
  height: 100%;
  gap: var(--mar);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content 1fr;
  grid-template-areas:
    "anncr anncr"
    "info info"
    "lmemb lctrl";
}

.con--players { grid-area: play; }
.con--self { grid-area: self; }
.con--ghost { grid-area: ghst; }
.con--board { grid-area: board; }
.con--gamecontrols { grid-area: gctrl; }

.grid--main-game-ghost,
.grid--main-game {
  display: grid;
  width: 100%;
  gap: var(--mar);
  grid-template-columns: repeat(4, 1fr);
}

.grid--main-game {
  grid-template-rows: repeat(5, max-content);
  grid-template-areas:
    "anncr anncr anncr anncr"
    "info info info info"
    "ghst ghst ghst ghst"
    "play play play play"
    "self self self self";
}

.grid--main-game-ghost {
  grid-template-rows: repeat(4, max-content);
  grid-template-areas:
    "anncr anncr anncr anncr"
    "info info info info"
    "play play play play"
    "self self self self";
}

/* CONTAINERS */

.container {
  padding: .5rem;
  border-radius: var(--rad);
}

.con--self,
.con--player,
.con--ghost {
  overflow-x: scroll;
}

.con--head,
.con--foyerjoin,
.con--joinlobby,
.con--newlobby {
  background-color: var(--bg3);
  width: max-content;
  min-width: 400px;
}

.con--dev,
.con--lobbycontrols,
.con--lobbymembers,
.con--self,
.con--announcer,
.con--info,
.con--ghost,
.con--player {
  background-color: var(--bg4);
  width: max-content;
}

.con--lobbycontrols,
.con--lobbymembers,
.con--dev,
.con--info,
.con--announcer {
  width: 100%;
}

.con--dev :not(:first-child) {
  margin-left: .5rem;
}

.con--players {
  padding: 0;
}

.con--lobbychat,
.con--lobbymain {
  background: var(--bg3);
}

.con--lobbymain {
  min-width: 500px;
}

.con--uni-footer {
  background-color: var(--bg5);
  /* height: 40px; */
}

/* BUTTONS */

.placeholder {
  height: 1.3rem;
  width: 100%;
  margin: 0;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--cyan6);
  color: var(--white);
  padding: .15rem .25rem;
  height: max-content;
  /* border: 3px solid var(--cyan6); */
  border-radius: var(--rad);
  /* margin: .5rem; */
  margin: 0;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--cyan5);
  /* border: 3px solid var(--cyan5); */
}

.btn:active {
  /* background-color: var(--pink5); */
  /* border: 3px solid var(--pink5); */
  outline: none;
}

.btn:focus { outline: none; }

.btn:disabled,
.btn:hover:disabled,
.btn:active:disabled {
  background: var(--colg5);
  color: var(--colg4);
  border-color: var(--colg5);
  cursor: default;
}

.btn--keyEvSelector-selected {
  background-color: var(--redd5);
}

.btn--keyEvSelector-selected:hover {
  background-color: var(--redd4);
}

.btn--chat-temp {
  margin-left: .5rem
}

.btn--confirm-kill,
.btn--confirm-accusation,
.btn--confirm-key-evidence {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.ready-toggle-wrapper {
  background-color: var(--bg4);
  position: relative;
  display: block;
  padding: .25rem;
  height: max-content;
  border-radius: var(--rad);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ccb-wrap {
  height: 100px;
  width: 100px;
  background-color: var(--colg8);
}

.ccb-wrap.sl {
  background-color: var(--colg5);
}

.ccb {
  background-color: var(--colg5);
}

.rtw-unchecked {
  background-color: var(--bg2);
}

.rtw-checked {
  background-color: var(--emer5);
}

.hidden,
.ready-toggle-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.navlink {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--rad);
  margin: 0;
}

.navlink:hover {
  color: var(--cyan4);
}

.navlink:active {
  color: var(--pink5);
  outline: none;
}

/* FORMS */

.label {
  margin-right: 0.5rem;
}

.input,
.textarea {
  /* border: 1px solid var(--colg5); */
  border: none;
  border-radius: var(--rad);
  background: var(--bg4);
  padding: 0.15rem 0.25rem;
}

.input:focus,
.textarea:focus {
  outline: none;
  /* border: 1px solid var(--cyan6); */
}

.join-lobby-inputs-wrapper {
  display: block;
}

.btn--join-lobby {
  display: inline-block;
}

/* .join-this-lobby-form > * {
  display: inline-flex;
}

.join-this-lobby-input {
  margin-right: .5rem;
  width: 100%;
} */

.form--invalid input,
.form--invalid textarea {
  border-color: var(--oran4);
}

/* TITLES
*/

.title {
  color: var(--default);
  text-align: center;
  margin-bottom: 0;
}

.app--title {
  color: var(--ambr3);
  margin: 5rem;
}

/* LISTS
*/

ul.c-group {
  display: flex;
}

li {
  list-style: none;
}

.player-list {
  display: grid;
  gap: .5rem;
  grid-template-columns: min-content min-content;
}

/* MISC */

.con--info > :not(:nth-child(1)),
.con--foot > :not(:nth-child(1)),
.con--head > :not(:nth-child(1)) {
  margin-left: .5rem;
}

.con--head,
.con--info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
}

.gameresult {
  width: 100%;
  text-align: center;
  text-justify: center;
}

.sessinfo {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preload,
.preload:before {
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

/* MODAL
*/

.modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: 10%;
  width: 80%;
  background: var(--bg3);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: var(--rad);
}

.modal__header {
  width: 100%;
  padding: 0.5rem 0.25rem;
  background: var(--oran6);
  color: white;
}

.modal__header h2 {
  margin: 0.5rem;
}

.modal__content {
  padding: 1rem 0.5rem;
}

.modal__footer {
  padding: 1rem 0.5rem;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 16rem);
    width: 32rem;
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}

/* LOADING
 */

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring.blue:after {
  border: 5px solid var(--cyan2);
  border-color: var(--cyan2) transparent var(--cyan2) transparent;
}

.lds-dual-ring.green:after {
  border: 5px solid var(--emer2);
  border-color: var(--emer2) transparent var(--emer2) transparent;
}

.lds-dual-ring.orange:after {
  border: 5px solid var(--oran2);
  border-color: var(--oran2) transparent var(--oran2) transparent;
}

.lds-dual-ring.red:after {
  border: 5px solid var(--redd2);
  border-color: var(--redd2) transparent var(--redd2) transparent;
}

.loading-spinner__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg4);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
