// footer

@import './colors.scss';
@import './mixins.scss';

.con--foot {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: $bg4;
}

.con--foot > :not(.infomodal-invis-wrap):not(:first-child) {
  margin-left: .5rem;
}

.footer-text {
  color: $bg1;
}