// Footer

@import './colors.scss';
@import './mixins.scss';

.container.con--foot {
  padding: 0;

  & .footer-wrap {
    display: flex;
    flex-direction: row;

    & .svg-btn.cleargame {
      @include close-btn($size: 20px);
    };
  };

  & .footer-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $bg4;
    padding: .5rem;
    height: max-content;
    width: 100%;
    align-items: center;

    & > :not(.infomodal-invis-wrap):not(:first-child) {
      margin-left: .5rem;
    };

  };

  & .margin-hack {
    height: $mar;
    background-color: $defbg;
  };
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  & > .footer-text {
    color: $bg1;
  };
  & > :not(.infomodal-invis-wrap):not(:first-child) {
    margin-left: .5rem;
  };
}

.footer-content .ttip-parent {
  border-radius: 50%;
}