
div.card-wrap--ghost {
  display: inline-block;
  background-color: var(--bg4);
  border-radius: var(--rad);
  width: 8rem;
}

div.card-wrap--ghost:not(:first-child) {
  margin-left: .5rem;
}

/* div.card-wrap--ghost * {
  color: var(--gray2);
} */

.gc-back,
.gc-title,
.gc-clue-btn {
  padding: .15rem .5rem;
  border-radius: var(--rad);
}

.gc-title {
  height: 2.75rem;
  text-align: center;
}

.card-wrap--ghost.old > .gc-title {
  background-color: var(--cluold);
}

.card-wrap--ghost.new > .gc-title {
  background-color: var(--clunew);
}

.card-wrap--ghost.cause > .gc-title {
  background-color: var(--cause);
}

.card-wrap--ghost.location > .gc-title {
  background-color: var(--locate);
}

.gc-clue {
  margin: .25rem 0 0;
  white-space: nowrap;
}

.gc-clue-btn {
  background-color: var(--bg2);
  margin: 0 auto;
  width: 100%;
}

.gc-clue-btn.selected {
  background-color: var(--gree6);
}

.gc-clue-btn:hover,
.gc-clue-btn.selected:hover {
  background-color: var(--gree6);
}

.gc-clue-btn:disabled:hover,
.gc-clue-btn:disabled {
  background-color: var(--bg3);
  cursor: auto;
}

.gc-clue-btn.highlighted:disabled:hover,
.gc-clue-btn.highlighted:disabled,
.gc-clue-btn.highlighted:hover,
.gc-clue-btn.highlighted {
  background-color: var(--hiligt);
  color: var(--gray9);
}

.gc-clue-btn:not(:disabled):active {
  background-color: var(--gree4);
}

.gc-conbtn-placeholder,
.btn--gc.replace-card,
.btn--gc.confirm-clue {
  margin-top: .25rem;
  width: 100%;
}

.btn--gc.replace-card {
  background-color: var(--rose8);
}

.btn--gc.replace-card:hover {
  background-color: var(--rose7);
}

.card-wrap--ghost.back {
  display: grid;
  grid-template-rows: 1fr max-content;
}

.gc-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg3);
}

.gc-conbtn-placeholder {
  color: var(--bg4);
  background-color: var(--bg4);
  padding: .15rem;
}

.gc-back-icon {
  height: 50px;
  width: 50px;
  display: block;
  margin: .25rem auto;
}

.gc-back-text {
  font-size: large;
  text-align: center;
}