// ghost

@import './colors.scss';
@import './mixins.scss';

$clue-bg: $bg4;

$cbbg: $bg2;
$cbbg-s: $emer6;
$cbbg-d: $bg3;
$cbbg-l: lighten($bg4, 2%);
$cbbg-h: $colg6;

$cfbg: $cyan6;
$cfbg-d: $bg3;

$rpbg: $redd8;

.container.con--self.gh,
.container.con--ghost {
  background-color: $clue-bg;
  width: max-content;
}

div.card-wrap--ghost {
  display: inline-block;
  background-color: $clue-bg;
  border-radius: $rad;
  width: 8rem;
  &:not(:first-child) {
    margin-left: .5rem;
  }
}

.gc-back,
.gc-title,
.gc-clue-btn {
  border-radius: $rad3;
}

.gc-back {
  border-radius: $rad6;
}

.gc-back,
.gc-title {
  padding: 2px .5rem;
}

.gc-title {
  display: flex;
  height: 3rem;
  text-align: center;
  text-transform: uppercase;
  // margin-bottom: .5rem;
  align-items: center;
  justify-content: center;
}

.card-wrap--ghost {
  &.old .gc-title { background-color: transparentize($cluold, .5); }
  &.new .gc-title { background-color: transparentize($clunew, .5); }
  &.cause .gc-title { background-color: transparentize($cause, .5) }
  &.location .gc-title { background-color: transparentize($locate, .5); }
  &.back {
    display: grid;
    grid-template-rows: 1fr max-content;
  }
}

.gc-clue {
  margin: 3px 0 0;
  white-space: nowrap;
}

.gc-clue-btn {
  margin: 0 auto;
  width: 100%;
  padding: 4px 0;
  // color: $fg3;
  // text-transform: uppercase;

  // @include three-d-btn($cbbg, 12%, 12%, $bdr2);
  @include float-btn-txt($bg: $cbbg, $fg: $fg3);

  &.selected {
    // color: $fg1;
    // @include three-d-btn($cbbg-s, 12%, 12%, $bdr2);
    @include float-btn-txt($bg: $cbbg-s, $fg: $fg1);
  }

  &:disabled {
    cursor: auto;
    // @include three-d-btn($cbbg-d, 8%, 8%, $bdr2);
    @include float-btn-txt($bg: $cbbg-d, $fg: darken($fg3, 30%));
    &:not(.highlighted) {
      &.locked {
        // @include three-d-btn($cbbg-l, 5%, 5%, $bdr2);
        @include float-btn-txt($bg: $cbbg-l, $fg: darken($fg3, 50%));
      }
    }
  }

  // order matters: highlighted after disabled
  &.highlighted {
    // color: $fg1;
    // @include three-d-btn($cbbg-h, 20%, 20%, $bdr2);
    @include float-btn-txt($bg: $cbbg-h, $fg: $fg1);
  }
}

button.btn--gc {
  margin-top: 3px;
  padding: 4px 0;
  width: 100%;

  &.confirm-clue {
    // @include three-d-btn($cfbg, 8%, 8%, $bdr2);
    @include float-btn-txt($bg: $cfbg, $fg: $fg3);
    &:disabled {
      cursor: auto;
      // color: darken($fg3, 30%);
      // @include three-d-btn($cfbg-d, 8%, 8%, $bdr2);
      @include float-btn-txt($bg: $cfbg-d, $fg: darken($fg3, 30%));
    }
  }

  &.replace-card {
    // @include three-d-btn($rpbg, 20%, 20%, $bdr2);
    @include float-btn-txt($bg: $rpbg, $fg: $fg3);
  }
}

.gc-back,
.gc-title {
  cursor: default;
}

.gc-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $bg5;
  border: $bdr2 solid $bg3;
}

.gc-back-icon {
  height: max-content;
  width: 50px;
  margin: 0 auto;
  & svg {
    fill: $fg4;
  }
}

.gc-back-text {
  text-align: center;
  &.title {
    margin-top: 5px;
    line-height: 2rem;
    font-size: 2.5rem;
    color: $rose5;
  }
  &.subtitle {
    font-size: 1.5rem;
    color: $fg4;
  }
}

.gc-conbtn-placeholder {
  margin-top: 3px;
  width: 100%;
  color: $clue-bg;
  background-color: $clue-bg;
  // border: $bdr2 solid $clue-bg;
  padding: 4px 0;
  cursor: default;
}