// ghost

@import './colors.scss';
@import './mixins.scss';

$clue-bg: $bg4;

$clue-btn-bg: $bg2;
$clue-btn-sel-bg: $emer6;
$clue-btn-dis-bg: $bg3;
$clue-btn-lck-bg: $bg4;
$clue-btn-hil-bg: $colg6;

$confirm-btn-bg: $cyan6;
$confirm-btn-dis-bg: $bg3;

$replace-btn-bg: $redd8;

.container.con--self.gh,
.container.con--ghost {
  background-color: $clue-bg;
  width: max-content;
}

div.card-wrap--ghost {
  display: inline-block;
  background-color: $clue-bg;
  border-radius: $rad;
  width: 8rem;
  &:not(:first-child) {
    margin-left: .5rem;
  }
}

.gc-back,
.gc-title,
.gc-clue-btn {
  padding: .15rem .5rem;
  border-radius: $rad;
}

.gc-title {
  display: flex;
  height: 2.75rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: .5rem;
  align-items: center;
  justify-content: center;
}

.card-wrap--ghost {
  &.old .gc-title { background-color: $cluold; }
  &.new .gc-title { background-color: $clunew; }
  &.cause .gc-title { background-color: $cause; }
  &.location .gc-title { background-color: $locate; }
  &.back {
    display: grid;
    grid-template-rows: 1fr max-content;
  }
}

.gc-clue {
  margin: .25rem 0 0;
  white-space: nowrap;
}

.gc-clue-btn {
  margin: 0 auto;
  width: 100%;
  color: $fg3;
  @include three-d-btn($clue-btn-bg, 12%, 12%, $wd);

  &.selected {
    color: $fg1;
    @include three-d-btn($clue-btn-sel-bg, 12%, 12%, $wd);
  }

  &:disabled {
    cursor: auto;
    @include three-d-btn($clue-btn-dis-bg, 8%, 8%, $wd);
    &:not(.highlighted) {
      color: darken($fg3, 30%);
      &.locked {
        color: darken($fg3, 50%);
        @include three-d-btn($clue-btn-lck-bg, 5%, 5%, $wd);
      }
    }
  }

  // order matters: highlighted after disabled
  &.highlighted {
    color: $fg1;
    @include three-d-btn($clue-btn-hil-bg, 20%, 20%, $wd);
  }
}

button.btn--gc {
  margin-top: .25rem;
  width: 100%;

  &.confirm-clue {
    @include three-d-btn($confirm-btn-bg, 8%, 8%, $wd);
    &:disabled {
      cursor: auto;
      color: darken($fg3, 30%);
      @include three-d-btn($confirm-btn-dis-bg, 8%, 8%, $wd);
    }
  }

  &.replace-card {
    @include three-d-btn($replace-btn-bg, 20%, 20%, $wd);
  }
}

.gc-back,
.gc-title {
  cursor: default;
}

.gc-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $bg3;
}

.gc-back-icon {
  height: 50px;
  width: 50px;
  display: block;
  margin: .25rem auto;
}

.gc-back-text {
  font-size: large;
  text-align: center;
}

.gc-conbtn-placeholder {
  margin-top: .25rem;
  width: 100%;
  color: $clue-bg;
  background-color: $clue-bg;
  border: $wd solid $clue-bg;
  padding: .15rem;
  cursor: default;
}