// Info

@import './colors.scss';
@import './mixins.scss';

.container.con--info {
  display: flex;
  justify-content: center;
  align-items: center;
}

// nogame

.con--info.nogame {
  flex-direction: column;
  & .svg-btn {
    @include nobg-btn-svg();
    & svg {
      width: 30px;
    };
  };
}

.lobbyid-wrap .info-lobbyid {
  background-color: $bg5;
  justify-self: center;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  width: 350px; // scale
  padding: 2px 0;
  border-radius: $rad3;
}

.info-lobbyid.obscured {
  font-style: italic;
  color: $bg1;
}

.lobbyid-wrap {
  display: grid;
  gap: .5rem;
  grid-template-columns: 1fr max-content 1fr;
}

// game

.con--info.game {
  flex-direction: row;
  justify-content: space-between;
  background-color: $bg4;
  height: 38px;
  padding: .5rem;

  & > .gamestage-username {
    background-color: $bg4;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    & > :not(.infomodal-invis-wrap):not(:first-child) {
      margin-left: .5rem;
    }

    & > .info {
      text-transform: uppercase;
      font-size: 1.5rem;
      &.user-name {
        color: $bg1;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: flex-end;
      }
    }
  }

  & > .game-control-buttons {
    display: flex;
    & > button {
      width: max-content;
      height: 24px;
      padding: 0 6px;
      margin-right: .5rem;
    }
    & > .nextround {
      @include float-btn-txt($cyan6, $fg3);
    }
    & > .cleargame {
      @include float-btn-txt($rose9, $fg3);
    }
  }
}