
@import './colors.scss';
@import './mixins.scss';

.container.con--info {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--bg4); */
  /* padding: 0; */
}

.con--info.nogame {
  flex-direction: column;
}

.con--info.game {
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg4);
  padding: .5rem;
}

.con--info.nogame > :not(:first-child) {
  margin-top: .25rem;
}

.con--info .info-gamestage,
.con--info .info-lobbyid {
  text-transform: uppercase;
  font-size: large;
}

.con--info .info-gamestage {
  text-align: start;
}

.lobbyid-wrap .info-lobbyid {
  background-color: var(--bg5);
  justify-self: center;
  text-align: center;
  font-size: x-large;
  width: 300px;
  padding: .15rem 0;
  border-radius: var(--rad);
  /* border: var(--bdr2) solid var(--bg1); */
}

.info-lobbyid.obscured {
  font-style: italic;
  color: var(--bg1);
}

.lobbyid-wrap {
  display: grid;
  gap: .5rem;
  grid-template-columns: 1fr max-content 1fr;
}

.lobbyid-wrap * {
  align-self: center;
}

button.btn--copyurl,
button.btn--hidelobbyid {
  display: flex;
  justify-self: end;
  border: var(--bdr2) solid var(--cyan6);
  padding: 0;
}

.btn--copyurl svg,
.btn--hidelobbyid svg {
  margin: 2.5px;
  height: 20px;
  width: 20px;
}

.con--info.game .info-lobbyid {
  color: var(--bg1);
}

.con--info.nogame button.btn--copyurl {
  justify-self: start;
}

button.btn--copyurl:hover,
button.btn--hidelobbyid:hover {
  --fgc: var(--cyan5);
  border-color: var(--fgc);
  color: var(--fgc);
}

.con--info.game {
  height: min-content;
}

.con--info.game > * {
  width: 100%;
}

.con--info.game > :not(:first-child) {
  margin-left: .5rem;
}

.con--info.game > :nth-child(2) {
  display: flex;
  justify-content: center;
}

.con--info.game > :last-child {
  text-align: right;
}

.game-control-buttons > :not(:first-child) {
  margin-left: .5rem;
}

/* .hidebutton-wrap svg {
  height: 16px;
  width: 72px;
}

.hidebutton-wrap a {
  fill: var(--cyan6);
}

.hidebutton-wrap a:hover {
  fill: var(--cyan5);
}

.hidebutton-wrap svg a text {
  font-size: 3rem;
  fill: #FFFFFF;
} */

/* .info-lobbyid,
.info-lobbyurl span:nth-child(2) {
  font-family: 'Roboto Mono', monospace;
} */

/* .con--info.nogame button.btn--copyurl {
  --fgc: var(--colg4);
  --bgc: var(--gray7o50);
  padding: .15rem .25rem .25rem .25rem;
  border-radius: 4px;
  border: 1px solid var(--fgc);
  background-color: var(--bgc);
}

button.btn--copyurl {
  --fgc: var(--colg4);
  color: var(--fgc);
  font-weight: lighter;
  transition: 0.2s;
}

button.btn--copyurl:hover {
  --fgc: var(--cyan4);
  color: var(--fgc);
}

.con--info.nogame button.btn--copyurl:hover {
  --fgc: var(--cyan4);
  border: 1px solid var(--fgc);
  color: var(--fgc);
} */