// infomodals

@import './colors.scss';
@import './mixins.scss';

$ifm-mar: 1rem;
$clo: $wrmg6;
$def: $colg6;
$cur: $teal7;

.infomodal-invis-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
}

.infomodal-wrap {
  background-color: $bg4;
  border-radius: $rad6;
  margin: 2rem;
  border: 2px solid $bg1;
  @include shadow();
  z-index: 999;
  &.text {
    display: inline-flex;
    width: 700px;
    height: calc(100% - 4rem);
    @media (max-width: 750px) {
      width: calc(100% - 4rem);
    }
  }
  &.vid {
    display: flex;
    flex-direction: column;
    & > iframe {
      width: 560px;
      height: 315px;
    }
  }
  &.text-sp {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: calc(100% - 4rem);
    @media (max-width: 750px) {
      width: calc(100% - 4rem);
    }
  }
}

.infomodal-vid-close-btn {
  background-color: $bg5;
  text-transform: uppercase;
  padding: 2px;
  &:hover {
    background-color: $redd5;
  }
  &:active {
    background-color: darken($redd5, 10%);
  }
}

.infomodal-titlebar {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  display: inline-flex;
  & * {
    font-size: larger;
    text-align: center;
    text-transform: uppercase;
    padding: 4px 0;
  }
  & .infomodal-titlebar-title {
    background-color: $bg3;
    text-indent: 66px;
    width: 100%;
  }
  & .close-btn {
    width: 66px;
    background-color: $bg1;
    &:hover {
      background-color: $redd5;
    }
    &:active {
      background-color: darken($redd5, 10%);
    }
  }
}

.infomodal-nav {
  margin: $ifm-mar 0 $ifm-mar $ifm-mar;
  width: min-content;
}

.infomodal-nav-btn {
  width: 135px;
  padding: 2px 6px;
  text-transform: uppercase;
  @include float-btn-txt($def, $fg3);
  &:not(:last-child) {
    margin-bottom: .5rem;
  }
  &.current {
    @include float-btn-txt($cur, $fg1);
  }
  &.close-btn {
    @include float-btn-txt($clo, $fg3);
  }
}

.infomodal-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 0 $ifm-mar;
  min-height: 0;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  }
}

.infomodal-content {
  & span {
    line-height: 1.75rem;
    font-size: larger;
  }
  & a {
    font-size: 16.8px;
  }
}

.infomodal-content .faded span {
  color: $bg1;
}

.infomodal-content div {
  margin-bottom: .5rem;
  &:last-child {
    margin-bottom: $ifm-mar;
  }
  &:first-child {
    margin-top: $ifm-mar;
  }
}