// infomodals

@import './colors.scss';
@import './mixins.scss';

$txt-mar: 1rem;

.infomodal {
  background-color: $bg5;
  border-radius: $rad;
  // padding: $txt-mar $txt-mar $txt-mar 10rem;
  margin: 1rem;
  border: 2px solid $bg1;
  position: absolute;
  z-index: 99999999;
  box-shadow: 0 1px 3px $bg5;
  top: 0;
  height: calc(100% - 2rem);
}

.infomodal-nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $bg3;
  height: 100%;
  width: max-content;
}

.infomodal-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 0 $txt-mar 0 10.5rem;
  min-height: 0;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
}

.infomodal-content::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

$def: $cyan6;
$cur: $ambr6;
$clo: $redd8;

.infomodal-nav-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: .15rem .25rem;
  text-transform: uppercase;
  background-color: $def;
  &:hover {
    background-color: lighten($def, 10%);
  }
  &.current {
    background-color: $cur;
    &:hover {
      background-color: lighten($cur, 10%);
    }
  }
  &.close-btn {
    background-color: $clo;
    &:hover {
      background-color: lighten($clo, 10%);
    }
  }
}

.infomodal-content span {
  line-height: 1.75rem;
  font-size: larger;
}

.infomodal-content .faded span {
  color: $bg1;
}

.infomodal-content .line {
  margin-bottom: .5rem;
  &:last-child {
    margin-bottom: $txt-mar;
  }
  &:first-child {
    margin-top: $txt-mar;
  }
}