
.con--info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--bg4);
}

.con--info.nogame {
  flex-direction: column;
}

.con--info.game {
  flex-direction: row;
  justify-content: space-between;
}

.con--info.nogame > :not(:first-child) {
  margin-top: .25rem;
}

.con--info .game-stage,
.con--info .info-lobbyid {
  text-transform: uppercase;
  font-size: large;
}

.con--info.game .info-lobbyid {
  color: var(--bg1)
}

.con--info.nogame .info-lobbyurl {
  --fgc: var(--colg4);
  --bgc: var(--gray7o50);
  padding: .15rem .25rem .25rem .25rem;
  border-radius: 4px;
  border: 1px solid var(--fgc);
  color: var(--fgc);
  background-color: var(--bgc);
  font-weight: lighter;
}

.con--info.nogame .info-lobbyurl:hover {
  --fgc: var(--cyan4);
  border: 1px solid var(--fgc);
  color: var(--fgc);
}

.con--info.game {
  height: min-content;
}

.con--info.game > * {
  /* background-color: var(--bg5); */
  width: 100%;
}

.con--info.game > :not(:first-child) {
  margin-left: .5rem;
}

.con--info.game > :nth-child(2) {
  display: flex;
  justify-content: center;
}

.con--info.game > :last-child {
  text-align: right;
}

.game-control-buttons > :not(:first-child) {
  margin-left: .5rem;
}