
.container.con--info {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  padding: 0;
  /* background-color: var(--bg4); */
}

.con--info.nogame {
  flex-direction: column;
  margin: .5rem 0;
}

.con--info.game {
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg4);
  padding: .25rem;
}

.con--info.nogame > :not(:first-child) {
  margin-top: .25rem;
}

.con--info .info-gamestage,
.con--info .info-lobbyid {
  text-transform: uppercase;
  font-size: large;
}

.con--info .info-gamestage {
  text-align: start;
}

.con--info.nogame .lobbyid-wrap .info-lobbyid {
  background-color: var(--bg4);
  justify-self: center;
  text-align: center;
  width: 240px;
  padding: .15rem 0;
  border-radius: var(--rad);
  border: 1px solid var(--bg1);
}

.info-lobbyid.obscured {
  font-style: italic;
  color: var(--bg1);
}

.lobbyid-wrap {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr max-content 1fr;
  gap: .5rem;
}

.lobbyid-wrap * {
  align-self: center;
}

.copyurl-wrap {
  display: flex;
  align-items: center;
}

.copyurl-label {
  margin-left: .5rem;
  font-size: larger;
  color: var(--bg2);
}

button.btn--copyurl,
button.btn--hidelobbyid {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  height: 25px;
  width: 25px;
  justify-self: end;
  padding: 0;
}

.btn--copyurl svg,
.btn--hidelobbyid svg {
  margin: 2.5px;
  height: 20px;
  width: 20px;
}

.con--info.game .info-lobbyid {
  color: var(--bg1);
}

.con--info.nogame button.btn--copyurl {
  /* --fgc: var(--colg4);
  --bgc: var(--gray7o50);
  border: 1px solid var(--fgc);
  color: var(--fgc);
  background-color: var(--bgc); */
  justify-self: start;
}

/* .con--info.nogame button.btn--copyurl:hover {
  --fgc: var(--cyan4);
  border: 1px solid var(--fgc);
  color: var(--fgc);
} */

.con--info.game {
  height: min-content;
}

.con--info.game > * {
  /* background-color: var(--bg5); */
  width: 100%;
}

.con--info.game > :not(:first-child) {
  margin-left: .5rem;
}

.con--info.game > :nth-child(2) {
  display: flex;
  justify-content: center;
}

.con--info.game > :last-child {
  text-align: right;
}

.game-control-buttons > :not(:first-child) {
  margin-left: .5rem;
}

/* .hidebutton-wrap svg {
  height: 16px;
  width: 72px;
}

.hidebutton-wrap a {
  fill: var(--cyan6);
}

.hidebutton-wrap a:hover {
  fill: var(--cyan5);
}

.hidebutton-wrap svg a text {
  font-size: 3rem;
  fill: #FFFFFF;
} */

/* .info-lobbyid,
.info-lobbyurl span:nth-child(2) {
  font-family: 'Roboto Mono', monospace;
} */

/* .con--info.nogame button.btn--copyurl {
  --fgc: var(--colg4);
  --bgc: var(--gray7o50);
  padding: .15rem .25rem .25rem .25rem;
  border-radius: 4px;
  border: 1px solid var(--fgc);
  background-color: var(--bgc);
}

button.btn--copyurl {
  --fgc: var(--colg4);
  color: var(--fgc);
  font-weight: lighter;
  transition: 0.2s;
}

button.btn--copyurl:hover {
  --fgc: var(--cyan4);
  color: var(--fgc);
}

.con--info.nogame button.btn--copyurl:hover {
  --fgc: var(--cyan4);
  border: 1px solid var(--fgc);
  color: var(--fgc);
} */