
@import './colors.scss';
@import './mixins.scss';

.container.con--info {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: $bg4; */
  /* padding: 0; */
}

// nogame

.con--info.nogame {
  flex-direction: column;
  & .svg-btn {
    @include nobg-btn-svg();
    & svg {
      max-width: 30px;
    }
  }
}

.lobbyid-wrap .info-lobbyid {
  background-color: $bg5;
  justify-self: center;
  text-align: center;
  font-size: x-large;
  text-transform: uppercase;
  width: 300px;
  padding: 2px 0;
  border-radius: $rad;
}

.info-lobbyid.obscured {
  font-style: italic;
  color: $bg1;
}

.lobbyid-wrap {
  display: grid;
  gap: .5rem;
  grid-template-columns: 1fr max-content 1fr;
}

.lobbyid-wrap * {
  align-self: center;
}

// game

.con--info.game {
  flex-direction: row;
  justify-content: space-between;
  background-color: $bg5;
  height: min-content;
  padding: 0;

  & > .gamestage-username {
    background-color: $bg4;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    & > :not(.infomodal-invis-wrap):not(:first-child) {
      margin-left: .5rem;
    }

    & > .info {
      text-transform: uppercase;
      font-size: large;
      &.user-name {
        color: $bg1;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: flex-end;
      }
    }
  }

  & > .game-control-buttons {
    // display: flex;
    // flex-direction: row;

    background-color: $bg6;
    & > button {
      width: min-content;
      font-size: smaller;
      // height: 100%;
      height: 35px;
      padding: 0 4px;
      margin-left: .5rem;
    }
    & > .nextround {
      @include float-btn-txt($cyan6, $fg3);
    }
    & > .cleargame {
      @include float-btn-txt($redd8, $fg3);
    }
  }
}