// landing

@import './colors.scss';
@import './mixins.scss';

.new-lobby-form,
.join-lobby-form,
.join-this-lobby-form {
  display: flex;
  justify-content: center;
}

.btn--streaming-mode { grid-area: stream }

.new-lobby-title { grid-area: newtitl; }
.new-lobby-label { grid-area: newlabel; }
.new-lobby-input { grid-area: newinput; }
.new-lobby-btn  { grid-area: newbtn; }

.join-this-lobby-title    { grid-area: jtltitl; }
.join-this-lobby-subtitle { grid-area: jtlsubt; }
.join-this-lobby-label    { grid-area: jtllabel; }
.join-this-lobby-input    { grid-area: jtlinput; }
.join-this-lobby-btn     { grid-area: jtlbtn; }

.join-lobby-title          { grid-area: jnltitl; }
.join-lobby-username-label { grid-area: jnlabel; }
.join-lobby-username-input { grid-area: jninput; }

.join-lobby-lobbyid-label { grid-area: jllabel; }
.join-lobby-lobbyid-input { grid-area: jlinput; }
.join-lobby-btn          { grid-area: jlbtn; }
.btn--join-devlobby       { grid-area: jdbtn; }

.new-lobby-title,
.join-lobby-title,
.join-this-lobby-title,
.join-this-lobby-subtitle {
  justify-content: center;
  font-size: large;
}

.grid--new-lobby-form,
.grid--join-lobby-form,
.grid--join-this-lobby-form {
  display: grid;
  padding: 0;
  gap: .5rem;
  grid-template-columns: 87px 175px max-content;
}

.grid--new-lobby-form {
  grid-template-areas:
    "newtitl newtitl newtitl"
    "newlabel newinput newbtn";
}

.grid--join-this-lobby-form {
  grid-template-areas:
    "jtltitl jtltitl jtltitl"
    "jtllabel jtlinput jtlbtn";
}

.grid--join-lobby-form {
  grid-template-areas:
    "jnltitl jnltitl jnltitl"
    "jnlabel jninput jdbtn"
    "jllabel jlinput jlbtn";
}

.grid--new-lobby-form *,
.grid--join-lobby-form *,
.grid--join-this-lobby-form * {
  margin: 0;
  display: flex;
  align-items: center;
}

.grid--new-lobby-form label,
.grid--join-lobby-form label,
.grid--join-this-lobby-form label {
  flex-direction: row-reverse;
  justify-items: center;
  margin-right: 0;
}

.btn--join-lobby {
  display: inline-block;
}

button.btn--join-devlobby {
  width: 50px;
  margin-top: .5rem;
}

button.btn--streaming-mode.on {
  background-color: $ready;
}

.con--head,
.con--foyerjoin,
.con--returntolobby,
.con--joinlobby,
.con--newlobby {
  background-color: $bg3;
  width: 100%;
}

.con--head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: min-content;
  background-color: $bg4;
}

input.new-lobby-input,
input.join-this-lobby-input,
input.join-lobby-username-input,
input.join-lobby-lobbyid-input {
  background-color: $bg4;
  min-height: 30px;
}

.landing > :not(:first-child) {
  margin-top: .5rem;
}

.landing-title {
  font-size: xx-large;
}

.show-infomodal-btn.rules {
  background-color: inherit;
  text-transform: uppercase;
  font-size: large;
  color: $cyan4;
  &:hover {
    color: $cyan3;
  }
  &:active {
    color: white;
  }
}

.con--returntolobby {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $bg4;
  & > * {
    font-size: large;
    text-transform: uppercase;
    text-decoration: none;
  }
  & > .return-link {
    color: $cyan4;
    &:hover {
      color: $cyan3;
    }
    &:active {
      color: white;
    }
  }
}

.landing-forms-wrapper {
  width: max-content;
  margin: 0 auto;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  & > :not(:first-child) {
    margin-top: .5rem;
  }
}

.streaming-mode-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & > .streaming-mode-label {
    // font-size: large;
    text-transform: uppercase;
    margin-right: .5rem;
  }
}

.streaming-mode-btn {
  @include square(1.5rem);
  @include three-d-btn($redd8, 15%, 15%, .15rem);
  &.on {
    @include three-d-btn($ready, 15%, 15%, .15rem);
  }
}

.new-lobby-btn,
.join-lobby-btn,
.join-this-lobby-btn {
  display: block;
  padding: .15rem .25rem;
  text-transform: uppercase;
  @include three-d-btn();

  &:disabled {
    cursor: auto;
    color: darken($fg3, 30%);
    @include three-d-btn($bg3);
  }
}

