// Landing

@import './colors.scss';
@import './mixins.scss';

// 40px subtitle
// 167x52 buttons

.lobby-form-title     { grid-area: title; }
.input-username       { grid-area: nym; }
.input-lobbyid        { grid-area: id; }
.input-username-label { grid-area: namelabel; }
.input-lobbyid-label  { grid-area: idlabel; }
.lobby-form-btn       { grid-area: btn; }
.empty-cell           { grid-area: empty; }

.con--head            { grid-area: head; }
.con--intro           { grid-area: intro; }
.con--return-to-lobby { grid-area: return; }
.con--lobby-forms     { grid-area: forms; }
.con--foot            { grid-area: foot; }

.grid--landing {
  $midColwidth: 300px;
  $sideColwidth: 140px;
  $rowHeight: 40px;

  display: grid;
  gap: 2rem 0;
  grid-template-columns: 1fr minmax(min-content, 800px) 1fr;
  grid-template-rows: minmax(min-content, 1fr) max-content 2fr max-content;
  grid-template-areas:
    '. head .'
    '. intro .'
    '. forms .'
    'foot foot foot';

  height: 100%;
  width: 100%;

  & .slide-in {
    position: relative;
    top: -100vh;
  };

  & > div.con--head {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    & > svg {
      fill-rule:evenodd;
      clip-rule:evenodd;
      stroke-linejoin:round;
      stroke-miterlimit:2;

      width: 500px;

      & linearGradient#titleGrad > stop:first-child    { stop-color: $pink; };
      & linearGradient#titleGrad > stop:last-child     { stop-color: $red; };
      & linearGradient#subtitleGrad > stop:first-child { stop-color: $purple; };
      & linearGradient#subtitleGrad > stop:last-child  { stop-color: $purple-alt; };

      & path { fill-rule: nonzero; };
    };
  };

  & > div.con--intro {
    text-align: center;

    & span {
      font-size: 1.75rem;
      line-height: 2.5rem;
    };
  };

  & > div.con--lobby-forms {

    & > div.return-to-lobby-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: $bg4;
    
      & > .return-greet {
        font-size: 1.75rem;
        font-style: italic;
      };
    
      & > .return-link {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 .5rem;
        padding: .5rem;
        height: $rowHeight;
        @include flat-btn-outline($purple-alt, $darker, $purple-alt);
        & > p { font-size: 1.25em; };
      };
    };

    & > div.lobby-form-wrapper {
      width: max-content;
      margin: 0 auto;

      &:not(:first-child) { margin-top: 2rem; };

      & > .lobby-form {
        display: flex;
        justify-content: center;

        & > .lobby-form-grid {
          font-size: 1.5rem;
          display: grid;
          padding: 0;
          gap: .75rem;
          grid-template-columns: $sideColwidth $midColwidth $sideColwidth;

          &.grid--join-this-lobby,
          &.grid--new-lobby {
            grid-template-areas:
              "title title title"
              "namelabel nym btn";
          };

          &.grid--join-lobby {
            grid-template-areas:
              "title title title"
              "namelabel nym empty" // `.` does not work here.
              "idlabel id btn";
          };

          & * {
            margin: 0;
            display: flex;
            align-items: center;
          };

          & > .lobby-form-title {
            justify-content: center;
            font-size: 1.5em;
            text-transform: uppercase;
          };

          & > input.lobby-form-input {
            font-size: 1.25em;
            height: $rowHeight;
            padding: 3px .5rem;
            background-color: $darker;
            border: 2px solid $dark;
            border-radius: $rad3;

            &::placeholder {
              color: $dark;
            };
          };

          & > label {
            flex-direction: row-reverse;
            justify-items: center;
            margin-right: 0;
            font-size: 1.25em;
          };

          & > .lobby-form-btn {
            display: block;
            text-transform: uppercase;
            font-size: 1.25em;
            @include flat-btn-solid($darkest, $green, $darker, $dark);
          };
        };
      };

      & > .streaming-mode-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: .75em;

        & > .streaming-mode-label {
          text-transform: uppercase;
          font-size: 1.5rem;
          margin-right: .75rem;
        };
      };
    };
  };
}

// hi-res displays
// @media screen and (min-device-width: 1200px) {
//   .grid--new-lobby-form,
//   .grid--join-lobby-form,
//   .grid--join-this-lobby-form {
//     display: grid;
//     padding: 0;
//     gap: .5rem;
//     grid-template-columns: 110px 200px 110px;
//   }
//   .con--returntolobby {
//     background-color: $bg3;
//     width: 100%;
//     font-size: 20px;
//   }
// }