
.con--head         { grid-area: head; }
.con--foot         { grid-area: foot; }

.con--newlobby     { grid-area: newl; }
.con--joinlobby    { grid-area: join; }

.con--foyertitle   { grid-area: fyrt; }
.con--foyerjoin    { grid-area: fyrj; }

.grid--landing,
.grid--foyer {
  display: grid;
  gap: var(--gap);
  height: max-content;
  grid-template-columns: 1fr;
}

.grid--foyer {
  grid-template-areas:
    "fyrj";
}

.grid--landing {
  grid-template-areas:
    "head"
    "newl"
    "join"
    'jdbtn';
}

.new-lobby-form,
.join-lobby-form,
.join-this-lobby-form {
  display: flex;
  justify-content: center;
}

.btn--streaming-mode { grid-area: stream }

.new-lobby-title { grid-area: newtitl; }
.new-lobby-label { grid-area: newlabel; }
.new-lobby-input { grid-area: newinput; }
.btn--new-lobby  { grid-area: newbtn; }

.join-this-lobby-title    { grid-area: jtltitl; }
.join-this-lobby-subtitle { grid-area: jtlsubt; }
.join-this-lobby-label    { grid-area: jtllabel; }
.join-this-lobby-input    { grid-area: jtlinput; }
.btn--join-this-lobby     { grid-area: jtlbtn; }

.join-lobby-title          { grid-area: jnltitl; }
.join-lobby-username-label { grid-area: jnlabel; }
.join-lobby-username-input { grid-area: jninput; }

.join-lobby-lobbyid-label { grid-area: jllabel; }
.join-lobby-lobbyid-input { grid-area: jlinput; }
.btn--join-lobby          { grid-area: jlbtn; }
.btn--join-devlobby       { grid-area: jdbtn; }

.new-lobby-title,
.join-lobby-title,
.join-this-lobby-title,
.join-this-lobby-subtitle {
  justify-content: center;
  font-weight: bold;
}

.grid--new-lobby-form,
.grid--join-lobby-form,
.grid--join-this-lobby-form {
  display: grid;
  padding: 0;
  gap: .5rem;
  grid-template-columns: 75px 175px max-content max-content;
}

.grid--new-lobby-form {
  grid-template-areas:
    "newtitl newtitl newtitl newtitl"
    "newlabel newinput newbtn stream";
}

.grid--join-this-lobby-form {
  grid-template-areas:
    "jtltitl jtltitl jtltitl jtltitl"
    "jtlsubt jtlsubt jtlsubt ."
    "jtllabel jtlinput jtlbtn stream";
}

.grid--join-lobby-form {
  grid-template-areas:
    "jnltitl jnltitl jnltitl jnltitl"
    "jnlabel jninput jdbtn ."
    "jllabel jlinput jlbtn stream";
}

.grid--new-lobby-form *,
.grid--join-lobby-form *,
.grid--join-this-lobby-form * {
  margin: 0;
  padding: .15rem, .25rem;
  display: flex;
  align-items: center;
}

.grid--new-lobby-form label,
.grid--join-lobby-form label,
.grid--join-this-lobby-form label {
  flex-direction: row-reverse;
  justify-items: center;
  margin-right: 0;
}

.btn--join-lobby {
  display: inline-block;
}

button.btn--join-devlobby {
  width: 50px;
  margin-top: .5rem;
}

button.btn--streaming-mode.on {
  background-color: var(--ready);
}

.con--head,
.con--foyerjoin,
.con--joinlobby,
.con--newlobby {
  background-color: var(--bg3);
  width: max-content;
  min-width: 500px;
}

.con--head > :not(:first-child) {
  margin-left: .5rem;
}

.con--head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
}

input.new-lobby-input,
input.join-this-lobby-input,
input.join-lobby-username-input,
input.join-lobby-lobbyid-input {
  background-color: var(--bg4);
}
