// Loading Overlay

@import './colors.scss';
@import './mixins.scss';

.loading-content::before,
.loading-content {
  font-size: 30pt;
}

.loading-content::before {
  position: relative;
  bottom: .5rem;
}

.loading-content.blue::before,
.loading-content.blue {
  color: $cyan3;
}

.loading-content.orange::before,
.loading-content.orange {
  color: $oran3;
}

.loading-content.purple::before,
.loading-content.purple {
  color: $fuch4;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  z-index: 7;
}

.suspenseful {
  animation: darken 4s ease-in-out;
}

@keyframes darken {
  0% { opacity: 0%; }
  30% { opacity: 95%; }
  70% { opacity: 95%; }
  100% { opacity: 0%; }
}

// Animation

.falling-dots:before {
  animation-name: falling-dots;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  content: '';
}

@keyframes falling-dots {
    0% { content: '⡠'; }
   12% { content: '⡡'; }
   25% { content: '⡢'; }
   37% { content: '⡣'; }
   50% { content: '⡦'; }
   62% { content: '⣎'; }
   75% { content: '⡖'; }
   87% { content: '⡔'; }
  100% { content: '⡠'; }
}