
.container.con--memberlist {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 0; */
  /* width: 100%; */
  /* background-color: var(--bg4); */
}

.container.con--memberlist * {
  border-radius: var(--rad);
}

ul.memberlist > :not(:first-child) {
  margin-top: .5rem;
}
div.member_grid  { grid-area: member; }
div.ready_toggle { grid-area: ready; }

div.ghost_icon   { grid-area: ghost; }
div.member_name  { grid-area: name; }
div.leader_icon  { grid-area: leader; }

li.ready_grid {
  display: grid;
  /* width: 380px; */
  gap: var(--gap);
  grid-template-columns: 42.59px max-content 42.59px;
  /* grid-template-rows: 30px; */
  grid-template-areas:
    '. member ready';
}

div.member_grid {
  display: grid;
  width: 300px;
  gap: var(--gap);
  grid-template-columns: 1fr 30px max-content 1fr 30px;
  grid-template-rows: 30px;
  grid-template-areas:
    '. leader name . ghost';
  padding: .25rem;
  border: .2rem solid;
  background-color: var(--bg5);
}

div.member_grid.ml-self > .member_name {
  font-style: italic;
}

div.member_grid.ml-notready {
  border-color: var(--bg2);
}

div.member_grid.ml-ready {
  border-color: var(--ready);
}

div.member_name {
  font-size: x-large;
  text-align: center;
  align-self: center;
  cursor: default;
}

div.leader_icon {
  height: 18px;
  width: 18px;
  justify-self: end;
  align-self: center;
  margin-bottom: 2px;
}

.svg-icon.crown.ml-leader svg {
  fill: var(--leader);
}

.svg-btn.transfer-leader svg {
  fill: var(--bg1);
}

.svg-icon.ghost.ml-ghost svg,
.svg-btn.assign-ghost.ml-ghost svg {
  fill: var(--ghost);
}

.svg-icon.crown.ml-notleader,
.svg-icon.ghost.ml-notghost {
  visibility: hidden;
}

.svg-btn.assign-ghost.ml-notghost svg {
  fill: var(--bg1);
}

div.member_grid:hover > .leader_icon .svg-btn.transfer-leader svg {
  fill: var(--leader);
  transition: 0;
}

div.member_grid:hover > .ghost_icon .svg-btn.assign-ghost.ml-notghost svg {
  fill: var(--ghost);
  transition: 0;
}

/* .svg-btn.assign-ghost.ml-notghost:active svg,
.svg-btn.assign-ghost.ml-ghost:active svg {
  fill: var(--ghostli);
} */

.svg-btn.ready-toggle {
  border-radius: var(--rad);
  /* max-height: 100%;
  justify-self: center;
  align-self: center; */
}

.svg-btn.ready-toggle svg .letter {
  fill: var(--default);
}

.svg-btn.ready-toggle.ml-ready svg .background {
  fill: var(--ready);
}

.svg-btn.ready-toggle.ml-notready svg .background {
  fill: var(--bg2);
}

.svg-btn.ready-toggle.ml-ready:hover svg .background {
  fill: var(--readyli);
}

.svg-btn.ready-toggle.ml-notready:hover svg .background {
  fill: var(--bg1);
}