// memberlist & members

@import './colors.scss';
@import './mixins.scss';

.container.con--memberlist {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 0; */
  /* width: 100%; */
  /* background-color: $bg4; */
}

ul.memberlist > :not(:first-child) {
  margin-top: .5rem;
}
div.member_grid  { grid-area: member; }
div.ready_toggle { grid-area: ready; }

div.ghost_icon   { grid-area: ghost; }
div.member_name  { grid-area: name; }
div.leader_icon  { grid-area: leader; }

li.ready_grid {
  display: grid;
  /* width: 380px; */
  gap: $gap;
  grid-template-columns: 50px max-content 50px;
  /* grid-template-rows: 30px; */
  grid-template-areas:
    '. member ready';
}

div.member_grid {
  display: grid;
  width: 300px;
  gap: $gap;
  grid-template-columns: 1fr 30px max-content 1fr 30px;
  grid-template-rows: 30px;
  grid-template-areas:
    '. leader name . ghost';
  padding: 6px;
  border: $bdr2 solid;
  border-radius: $rad6;
  background-color: $bg5;
}

div.member_grid.ml-self {
  // background-color: $bg6;
  & > .member_name {
    font-style: italic;
  }
}

div.member_grid.ml-notready {
  border-color: $bg3;
}

div.member_grid.ml-ready {
  border-color: $ready;
}

div.member_name {
  font-size: x-large;
  text-align: center;
  align-self: center;
  cursor: default;
}

div.leader_icon {
  height: 18px;
  width: 18px;
  justify-self: end;
  align-self: center;
  margin-bottom: 2px;
}

.member_grid {
  & .svg-icon.ghost,
  & .svg-btn.ghost {
    display: flex;
    justify-content: flex-end;
    & svg {
      height: 30px;
      width: 21px;
    }
  }
  & .svg-btn.ghost:active svg {
    fill: darken($ghost, 20%);
  }

  & .svg-btn.transfer-leader:active svg {
    fill: darken($leader, 20%);
  }
}

.svg-icon.crown.ml-leader svg {
  fill: $leader;
}

.svg-btn.assign-ghost.ml-notghost svg,
.svg-btn.transfer-leader svg {
  fill: $bg4;
}

.svg-icon.ghost.ml-ghost svg,
.svg-btn.assign-ghost.ml-ghost svg {
  fill: $ghost;
}

.svg-icon.crown.ml-notleader,
.svg-icon.ghost.ml-notghost {
  visibility: hidden;
}

div.member_grid:hover > .leader_icon .svg-btn.transfer-leader:not(:active) svg {
  fill: $leader;
}

div.member_grid:hover > .ghost_icon .svg-btn.assign-ghost.ml-notghost:not(:active) svg {
  fill: $ghost;
}

/* .svg-btn.assign-ghost.ml-notghost:active svg,
.svg-btn.assign-ghost.ml-ghost:active svg {
  fill: $ghostli;
} */

.svg-btn.ready-toggle {
  border-radius: $rad;
  /* max-height: 100%;
  justify-self: center;
  align-self: center; */
}

.svg-btn.ready-toggle svg .letter {
  fill: $default;
}

.svg-btn.ready-toggle.ml-ready svg .background {
  fill: $ready;
}

.svg-btn.ready-toggle.ml-notready svg .background {
  fill: $bg2;
}

.svg-btn.ready-toggle.ml-ready:hover svg .background {
  fill: $readyli;
}

.svg-btn.ready-toggle.ml-notready:hover svg .background {
  fill: $bg1;
}

.ready_toggle {
  align-self: center;
}

.ready-toggle-wrap {
  display: flex;
  align-items: center;
}

button.ready-toggle-btn {
  display: block;
  text-transform: uppercase;
  font-size: larger;
  padding: 3px;
  width: 100px;
  &.ml-ready {
    @include float-btn-txt($ready, $fg3);
  }
  &.ml-notready {
    @include float-btn-txt($rose8, $fg2);
  }
}

.ready-toggle-label {
  margin-left: .5rem;
  font-size: x-large;
  text-transform: uppercase;
}

.svg-btn.ready-toggle {
  padding: 7px;
  @include float-btn-txt($cyan6, $fg3, $rad3);
  @include square(46px);
  &:disabled svg {
    fill: $bg1;
  }
}