// memberlist & members

@import './colors.scss';
@import './mixins.scss';

.container.con--memberlist {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 0; */
  /* width: 100%; */
  /* background-color: $bg4; */
}

.container.con--memberlist * {
  border-radius: $rad;
}

ul.memberlist > :not(:first-child) {
  margin-top: .5rem;
}
div.member_grid  { grid-area: member; }
div.ready_toggle { grid-area: ready; }

div.ghost_icon   { grid-area: ghost; }
div.member_name  { grid-area: name; }
div.leader_icon  { grid-area: leader; }

li.ready_grid {
  display: grid;
  /* width: 380px; */
  gap: $gap;
  grid-template-columns: 42.59px max-content 42.59px;
  /* grid-template-rows: 30px; */
  grid-template-areas:
    '. member ready';
}

div.member_grid {
  display: grid;
  width: 300px;
  gap: $gap;
  grid-template-columns: 1fr 30px max-content 1fr 30px;
  grid-template-rows: 30px;
  grid-template-areas:
    '. leader name . ghost';
  padding: 6px;
  border: 2px solid;
  background-color: $bg5;
}

div.member_grid.ml-self {
  background-color: $bg6;
  & > .member_name {
    font-style: italic;
  }
}

div.member_grid.ml-notready {
  border-color: $bg2;
}

div.member_grid.ml-ready {
  border-color: $ready;
}

div.member_name {
  font-size: x-large;
  text-align: center;
  align-self: center;
  cursor: default;
}

div.leader_icon {
  height: 18px;
  width: 18px;
  justify-self: end;
  align-self: center;
  margin-bottom: 2px;
}

.member_grid {
  & .svg-icon.ghost,
  & .svg-btn.ghost {
    display: flex;
    justify-content: flex-end;
    & svg {
      height: 30px;
      width: 21px;
    }
  }
}

.svg-icon.crown.ml-leader svg {
  fill: $leader;
}

.svg-btn.assign-ghost.ml-notghost svg,
.svg-btn.transfer-leader svg {
  fill: $bg4;
}

.svg-icon.ghost.ml-ghost svg,
.svg-btn.assign-ghost.ml-ghost svg {
  fill: $ghost;
}

.svg-icon.crown.ml-notleader,
.svg-icon.ghost.ml-notghost {
  visibility: hidden;
}

div.member_grid:hover > .leader_icon .svg-btn.transfer-leader svg {
  fill: $leader;
}

div.member_grid:hover > .ghost_icon .svg-btn.assign-ghost.ml-notghost svg {
  fill: $ghost;
}

/* .svg-btn.assign-ghost.ml-notghost:active svg,
.svg-btn.assign-ghost.ml-ghost:active svg {
  fill: $ghostli;
} */

.svg-btn.ready-toggle {
  border-radius: $rad;
  /* max-height: 100%;
  justify-self: center;
  align-self: center; */
}

.svg-btn.ready-toggle svg .letter {
  fill: $default;
}

.svg-btn.ready-toggle.ml-ready svg .background {
  fill: $ready;
}

.svg-btn.ready-toggle.ml-notready svg .background {
  fill: $bg2;
}

.svg-btn.ready-toggle.ml-ready:hover svg .background {
  fill: $readyli;
}

.svg-btn.ready-toggle.ml-notready:hover svg .background {
  fill: $bg1;
}

.ready_toggle {
  align-self: center;
}

.ready-toggle-wrap {
  display: flex;
  align-items: center;
}

button.ready-toggle-btn {
  display: block;
  text-transform: uppercase;
  padding: 3px;
  // height: 18px;
  // width: 18px;
  &.ml-ready {
    @include three-d-btn($ready);
  }
  &.ml-notready {
    @include three-d-btn($redd8);
  }
  // &::after {
  //   content: 'READY';
  //   font-size: x-large;
  //   position: relative;
  //   left: calc(100% + .83rem);
  // }
}

.ready-toggle-label {
  margin-left: .5rem;
  font-size: x-large;
  text-transform: uppercase;
}