
.con--memberlist {
  min-width: 100%;
}

.member-wrapper * {
  display: inline-block;
  vertical-align: middle;
}

.member-wrapper:not(:first-child) {
  margin-top: .5rem;
}

.member-wrapper :not(:first-child) {
  margin-left: .5rem;
}

.member-wrapper .name {
  font-size: large;
}

.member-wrapper.self .name {
  color: var(--cyan5);
  font-weight: bold;
}

.member-wrapper button:disabled {
  background-color: var(--bg4);
  border-color: var(--bg3);
  color: var(--bg3);
}

.member-wrapper button:disabled:hover {
  background-color: var(--bg4);
  border-color: var(--bg3);
  color: var(--bg3);
}

.member-wrapper button {
  border: .2rem solid var(--cyan6);
  font-weight: bold;
}

.member-wrapper button:hover {
  border-color: var(--cyan5);
}

.member-wrapper.leader .give-leader:hover,
.member-wrapper.leader .give-leader {
  color: var(--leader);
  border-color: var(--leader);
}

.btn--member.give-leader {

}

.btn--member.assign-ghost {

}

.ghost .assign-ghost:disabled:hover,
.ghost .assign-ghost:disabled {
  color: var(--ghost);
  border-color: var(--ghost);
}

.ghost .assign-ghost:not(:disabled):hover {
  background-color: var(--ghostli);
  border-color: var(--ghostli);
}

.ghost .assign-ghost:not(:disabled) {
  background-color: var(--ghost);
  border-color: var(--ghost);
}

.ready .ready:disabled:hover,
.ready .ready:disabled {
  color: var(--ready);
  border-color: var(--ready);
}

.ready .ready:not(:disabled):hover {
  background-color: var(--readyli);
  border-color: var(--readyli);
}

.ready .ready:not(:disabled) {
  background-color: var(--ready);
  border-color: var(--ready);
}

.btn--member.ready {

}

.member-wrapper button:active {
  /* border-color: var(--pink5); */
}

.btn.assign-ghost:disabled {

}

.btn.assign-ghost.assigned-ghost {
  background-color: var(--fuch5);
}

ul.memberlist > div > *,
ul.online-list {
  display: inline-block;
}

ul.memberlist > div > :not(:first-child) {
  margin-top: .25rem;
}

ul.online-list > li,
ul.memberlist > div > li {
  border-radius: var(--rad);
}