// mixins and variables

@import './colors.scss';

$rad: 0;
$rad3: 3px;
$mar: 0.5rem;
$gap: 0.5rem;
$bdr: 1px;
$bdr2: 2px;
$bdr3: 3px;
$t: 100ms;

@mixin shadow() {
  // box-shadow:
  // rgba(0, 0, 0, 0.07) 0px 1px 2px,
  // rgba(0, 0, 0, 0.07) 0px 2px 4px,
  // rgba(0, 0, 0, 0.07) 0px 4px 8px;
  box-shadow:
  rgba(0, 0, 0, 0.03) 0px 1px 2px 0px,
  rgba(0, 0, 0, 0.03) 0px 2px 6px 2px,
  rgba(0, 0, 0, 0.03) 0px -1px 2px 0px,
  rgba(0, 0, 0, 0.03) 0px -2px 6px 2px;
}

@mixin colorfade() {
  transition: color $t, background-color $t, border-color $t, fill $t;
  & * {
    transition: color $t, background-color $t, border-color $t, fill $t;
  }
}

@mixin square($size: max-content) {
  height: $size;
  width: $size;
}

@mixin float-btn-txt($bg: $bg4, $fg: $cyan5, $rd: $rad3) {
  background-color: $bg;
  border-radius: $rd;
  color: $fg;
  & > svg { fill: $fg; }
  @include shadow();
  @include colorfade();
  // transition: all $time;
  &:not(:disabled):not(:active):hover {
    color: lighten($fg, 20%);
    & > svg { fill: lighten($fg, 20%); }
    background-color: lighten($bg, 4%);
  }
  &:not(:disabled):active {
    color: white;
    & > svg { fill: white; }
    background-color: darken($bg, 10%);
  }
}

@mixin float-btn-toggle($c-on: $ready, $c-off: $redd5, $size: 1.5rem) {
  background-color: $c-off;
  border-radius: 50%;
  @include square($size);
  @include shadow();
  transition: all $t;
  &:not(:disabled):not(:active):hover {
    background-color: lighten($c-off, 4%);
  }
  &:not(:disabled):active {
    background-color: darken($c-off, 1%)
  }
  &.on {
    background-color: $c-on;
    &:not(:disabled):not(:active):hover {
      background-color: lighten($c-on, 4%);
    }
    &:not(:disabled):active {
      background-color: darken($c-on, 1%)
    }
  }
}

@mixin flat-btn-txt($bg: $bg4, $fg: $cyan5) {
  // background-color: lighten($bg, 8%);
  background-color: $bg;
  padding: 1px 6px;
  border: 1px solid $bg3;
  border-radius: $rad3;
  text-transform: uppercase;
  color: $fg;
  transition: all $t;
  &:not(:disabled):not(:active):hover {
    color: lighten($fg, 20%);
    background-color: lighten($bg, 12%);
    border-color: lighten($bg, 12%);
  }
  &:not(:disabled):active {
    color: white;
    background-color: lighten($bg, 15%);
    border-color: lighten($bg, 12%);
  }
}

@mixin nobg-btn-svg($col: $cyan5, $hov: $cyan4) {
  transition: all $t;
  background-color: inherit;
  & svg {
    fill: $col;
    &:hover {
      fill: $hov;
    }
    &:active {
      fill: white;
    }
  }
}

@mixin three-d-btn($col: $cyan6, $li-by: 8%, $dk-by: 8%, $bdr-wid: $bdr3) {
  $col-li: lighten($col, $li-by);
  $col-dk: darken($col, $dk-by);
  background-color: $col;
  border-width: $bdr-wid;
  border-style: solid;
  border-color: $col-li $col-dk $col-dk $col-li;

  &:not(:disabled):not(:active):hover {
    $exli-by: 3%;
    color: $white;
    background-color: lighten($col, $exli-by);
    border-color: lighten($col-li, $exli-by) lighten($col-dk, $exli-by) lighten($col-dk, $exli-by) lighten($col-li, $exli-by);
  }

  &:not(:disabled):active {
    @include three-d-btn-down($col, $li-by, $dk-by, $bdr-wid);
  }
}

@mixin three-d-btn-down($col: $cyan6, $li-by: 8%, $dk-by: 8%, $bdr-wid: $bdr3) {
  background-color: darken($col, 4%);
  border-top: $bdr-wid solid lighten($col, 2%);
  border-left: $bdr-wid solid lighten($col, 2%);
  border-bottom: $bdr-wid solid darken($col, 8%);
  border-right: $bdr-wid solid darken($col, 8%);
}

@mixin z($weight) {
  font-weight: $weight;
}

@mixin a($weight) {
  text-rendering: geometricPrecision;
  font-weight: $weight;
}

@mixin b($weight) {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $weight;
}

@mixin c($weight) {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $weight;
}

@mixin d($weight) {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $weight;
}

@mixin e($weight) {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $weight;
}