// player

@import './colors.scss';
@import './mixins.scss';

$c-def-bg: $cyan6;
$c-dis-bg: $bg3;
$c-kill-bg: $redd8;

$pt: 8%;
$dpt: 5%;

.p-info.username  { grid-area: name; }
.p-info.badge     { grid-area: badg; }
.p-info      { grid-area: info; }
.p-info.interact  { grid-area: intr; }
.c-group-title.evidence { grid-area: evti; }
.c-group.evidence { grid-area: evid; }
.c-group-title.means    { grid-area: meti; }
.c-group.means    { grid-area: mean; }

.con--player {
  background-color: $bg4;
  display: grid;
  gap: $mar;
  grid-template-columns: 110px 1fr;
  grid-template-rows: 26px 1fr 1fr 26px;
  grid-template-areas:
    "info evid"
    "info evid"
    "info mean"
    "intr mean";
  &.no-interact {
    grid-template-areas:
      "info evid"
      "info evid"
      "info mean"
      "info mean";
  }
}

.con--self.player {
  background-color: $bg4;
  display: grid;
  gap: $mar;
  grid-template-columns: 110px repeat(2, max-content 1fr);
  grid-template-areas:
    "info evti evid meti mean";
  &.killer-choosing {
    grid-template-columns: 110px max-content repeat(2, max-content 1fr);
    grid-template-areas:
      "info intr evti evid meti mean";
  }
}

.p-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $rad;
  cursor: default;
  // background-color: $bg3;

  & .wrapper {
    text-align: center;
    background-color: $bg4;
    padding: 4px 0;

    // & :not(:first-child) {
    //   margin-top: 4px;
    // }

    & .username {
      font-size: 1.25rem;
      letter-spacing: .1rem;
      text-transform: uppercase;
      & .offline {
        color: $bg2;
      }
    }

    & .svg-icon.badge {
      margin: 4px 0;
      height: 20px;
      background-color: $bg4;
      &.can-accuse {
        & svg {
          fill: $badge;
        }
      }
      &.accusal-spent {
        & svg {
          fill: $bg2;
        }
      }
    }

    & .role {
      font-size: 1.25rem;
    }
    & .redteam, & .killer { color: $killer; }
    & .accomplice { color: $accomp; }
    & .witness { color: $witnss; }
    & .hunter { color: $hunter; }
    & .mystery { color: $mystry; }
  }

  &.interact {
    border-radius: $rad3;
    &:not(.con-key-ev) {
      height: 26px;
    }
  }
}

.c-group {
  display: flex;
}

.c-group-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: min-content;
  padding: 0;
  cursor: default;
  text-transform: uppercase;
  font-size: normal;
  line-height: .8rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  &.means {
    color: lighten($mec, $pt);
  }
  &.evidence {
    color: lighten($evc, $pt);
  }
}

// confirm buttons

.confirm-btn {
  margin: 0 auto;
  height: 100%;
  text-transform: uppercase;
  @include float-btn-txt($c-def-bg, $fg3);

  &:disabled {
    cursor: auto;
    @include float-btn-txt($c-dis-bg, darken($fg3, 30%));
  }

  &.kill,
  &.accusation {
    width: 100%;
  }

  &.kill {
    @include float-btn-txt($c-kill-bg, $fg3);
  }

  &.key-evidence {
    padding: 3px;
  }
}

// means and evidence cards

.con--player {
  height: 140px;
}

.con--self.player {
  max-width: calc((452px * 2) + 0.5rem)
}

.con--self.player button.card-wrap--player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  flex-direction: row;
}

button.card-wrap--player {
  display: inline-block;
  border-radius: $rad;
  padding: 3px;
  width: 75px;
  text-transform: capitalize;
  // height: 1fr;

  &:disabled {
    cursor: auto;
  }
  &:not(:first-child) {
    margin-left: .5rem;
  }

  &.evidence {
    @include float-btn-txt($evc, $fg3);
    &.selected {
      @include float-btn-txt($sel, $fg1);
    }
    &:disabled {
      cursor: auto;
      @include float-btn-txt(darken($evc, $dpt), $fg4);
    }
    &.highlighted {
      @include float-btn-txt($hig, $fg1);
    }
  }

  &.means {
    @include float-btn-txt($mec, $fg3);
    &.selected {
      @include float-btn-txt($sel, $fg1);
    }
    &:disabled {
      cursor: auto;
      @include float-btn-txt(darken($mec, $dpt), $fg4);
    }
    &.highlighted {
      @include float-btn-txt($hig, $fg1);
    }
  }
}

/* .indicator {
  display: inline-block;
  vertical-align: middle;
  background-color: $emer3;
  margin: 3px;
  height: .5rem;
  width: .5rem;
  border-radius: 50%;
} */