
.p-info.username  { grid-area: name; }
.p-info.badge     { grid-area: badg; }
.p-info.role      { grid-area: role; }
.p-info.interact  { grid-area: intr; }
.c-group.evidence { grid-area: evid; }
.c-group.means    { grid-area: mean; }

.con--self.player,
.con--player {
  background-color: var(--bg4);
  display: grid;
  gap: var(--mar);
  grid-template-columns: 7rem 1fr;
  grid-template-rows: 1fr max-content max-content 1fr;
  grid-template-areas:
    "badg evid"
    "role evid"
    "role mean"
    "intr mean";
}

.p-info {
  background-color: var(--bg3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: var(--rad);
}

.p-info:nth-child(2) {
  padding: .25rem;
  min-height: 68px;
}

.p-info .wrapper {
  text-align: center;
}

.badge {
  padding: .15rem;
  color: var(--ambr2);
  background-color: var(--yell5);
}

.badge.accusal-spent {
  color: var(--ambr5);
  background-color: var(--yell7);
}

.username {
  font-size: 1.25rem;
  letter-spacing: .1rem;
}

.username.offline {
  color: var(--bg1);
}

/* .indicator {
  display: inline-block;
  vertical-align: middle;
  background-color: var(--emer3);
  margin: .25rem;
  height: .5rem;
  width: .5rem;
  border-radius: 50%;
} */

.p-info.role .wrapper :nth-child(3),
.con--self .p-info.role .wrapper :nth-child(2) {
  /* margin: 0 auto;
  text-align: center;
  width: 100%; */
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: .1rem;
}

.p-info.role .wrapper > :not(:first-child) {
  margin-top: .15rem;
}

.p-info.role .wrapper .redteam,
.p-info.role .wrapper .killer {
  color: var(--killer);
}

.p-info.role .wrapper .accomplice {
  color: var(--accomp);
}

.p-info.role .wrapper .witness {
  color: var(--witnss);
}

.p-info.role .wrapper .hunter {
  color: var(--hunter);
}

.p-info.role .wrapper .mystery {
  color: var(--mystry);
}

/* .player-info {
  background-color: var(--bg5);
  border-radius: var(--rad);
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;
}

.player-info * {
  margin: 0 auto;
  text-align: center;
  width: 100%;
} */