// player

@import './colors.scss';
@import './mixins.scss';

$c-def-bg: $cyan6;
$c-dis-bg: $bg3;
$c-kill-bg: $redd8;

$pt: 8%;
$dpt: 5%;

.p-info.username  { grid-area: name; }
.p-info.badge     { grid-area: badg; }
.p-info.role      { grid-area: role; }
.p-info.interact  { grid-area: intr; }
.c-group-title.evidence { grid-area: evti; }
.c-group.evidence { grid-area: evid; }
.c-group-title.means    { grid-area: meti; }
.c-group.means    { grid-area: mean; }

.con--player {
  background-color: $bg4;
  display: grid;
  gap: $mar;
  grid-template-columns: 110px 1fr;
  grid-template-rows: 26px 1fr 1fr 26px;
  grid-template-areas:
    "role evid"
    "role evid"
    "role mean"
    "intr mean";
  &.never-interacts {
    grid-template-areas:
      "role evid"
      "role evid"
      "role mean"
      "role mean";
  }
}

.con--self.player {
  background-color: $bg4;
  display: grid;
  gap: $mar;
  grid-template-columns: 110px max-content repeat(2, max-content 1fr);
  grid-template-areas:
    "role intr evti evid meti mean"
    "role intr evti evid meti mean";
  &.never-interacts {
    grid-template-columns: 110px repeat(2, max-content 1fr);
    grid-template-areas:
      "role evti evid meti mean"
      "role evti evid meti mean"
      "role evti evid meti mean";
  }
}

.p-info {
  background-color: $bg3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $rad;
}

ul.c-group {
  display: flex;
}

.p-info .wrapper {
  text-align: center;
}

.p-info {
  cursor: default;

  &.role {
    padding: 3px 0;
    background-color: $bg4;
    & .svg-icon.badge {
      height: 20px;
      background-color: $bg4;
      &.can-accuse {
        & svg {
          fill: $badge;
        }
      }
      &.accusal-spent {
        & svg {
          fill: $bg2;
        }
      }
    }
  }

  &.interact {
    border-radius: $rad3;
    &:not(.con-key-ev) {
      height: 26px;
    }
  }
}

.c-group-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: min-content;
  padding: 0;
  cursor: default;
  text-transform: uppercase;
  font-size: larger;
  line-height: 1rem;
  // font-weight: bold;
  // letter-spacing: .05rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  &.means {
    color: lighten($mec, $pt);
  }
  &.evidence {
    color: lighten($evc, $pt);
  }
}

.username {
  font-size: 1.25rem;
  letter-spacing: .1rem;
}

.username.offline {
  color: $bg1;
}


.p-info.role .wrapper {
  & :not(:first-child) {
    margin-top: 2px;
  }
  & .role {
    font-size: 1.25rem;
  }
}

.p-info.role .wrapper .redteam,
.p-info.role .wrapper .killer {
  color: $killer;
}

.p-info.role .wrapper .accomplice {
  color: $accomp;
  // font-weight: normal;
  // letter-spacing: normal;
}

.p-info.role .wrapper .witness {
  color: $witnss;
}

.p-info.role .wrapper .hunter {
  color: $hunter;
}

.p-info.role .wrapper .mystery {
  color: $mystry;
}

// confirm buttons

.btn--confirm-kill,
.btn--confirm-accusation {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.btn--confirm-key-evidence {
  margin: 0 auto;
  height: 100%;
}

button.btn.three-d {
  @include float-btn-txt($c-def-bg, $fg3);
  &:disabled {
    cursor: auto;
    @include float-btn-txt($c-dis-bg, darken($fg3, 30%));
  }
  &.btn--confirm-kill {
    @include float-btn-txt($c-kill-bg, $fg3);
  }
}

// means and evidence cards

.con--player {
  height: 150px;
}

.con--self.player {
  max-width: calc((452px * 2) + 0.5rem)
}

.con--self.player button.card-wrap--player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  flex-direction: row;
}

button.card-wrap--player {
  display: inline-block;
  border-radius: $rad;
  padding: 3px;
  width: 75px;
  text-transform: capitalize;
  // height: 1fr;

  &:disabled {
    cursor: auto;
  }
  &:not(:first-child) {
    margin-left: .5rem;
  }

  &.evidence {
    @include float-btn-txt($evc, $fg3);
    &.selected {
      @include float-btn-txt($sel, $fg1);
    }
    &:disabled {
      cursor: auto;
      @include float-btn-txt(darken($evc, $dpt), $fg4);
    }
    &.highlighted {
      @include float-btn-txt($hig, $fg1);
    }
  }

  &.means {
    @include float-btn-txt($mec, $fg3);
    &.selected {
      @include float-btn-txt($sel, $fg1);
    }
    &:disabled {
      cursor: auto;
      @include float-btn-txt(darken($mec, $dpt), $fg4);
    }
    &.highlighted {
      @include float-btn-txt($hig, $fg1);
    }
  }
}

/* .indicator {
  display: inline-block;
  vertical-align: middle;
  background-color: $emer3;
  margin: 3px;
  height: .5rem;
  width: .5rem;
  border-radius: 50%;
} */