
.container.con--setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--bg4); */
  /* padding: 0; */
}

.settings > :not(:first-child) {
  margin-left: 1rem;
}

.setup-section {
  border-radius: var(--rad);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg5);
  border: var(--bdr2) solid var(--bg3);
  padding: .5rem 0;
  width: 180px;
}

.start button {
  font-size: x-large;
  padding: .5rem;
  margin-bottom: 1rem;
}

.settings {
  display: flex;
  flex-direction: row;
}

.settings-title {
  font-size: large;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.advrole-wrapper :not(:first-child) {
  margin-top: .5rem;
}

.advrole {
  padding: .15rem .25rem;
  background-color: var(--bg4);
  border: .2rem solid var(--bg3);
  border-radius: var(--rad);
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  width: 100px;
  text-align: center;
  cursor: default;
}

.advrole.ghost {
  width: max-content;
  display: inline-block;
  border-color: var(--ghost);
  color: var(--ghost);
}

.btn--advrole {
  display: block;
  border: .2rem solid var(--cyan6);
  width: 100px;
}

.btn--advrole.on {
  background-color: var(--ready);
  border-color: var(--ready);
}

.btn--advrole.on:hover {
  background-color: var(--readyli);
  border-color: var(--readyli);
}

.btn--advrole.off:hover {
  background-color: var(--cyan5);
  border-color: var(--cyan5);
}

.advrole.on {
  color: var(--emer5);
  border-color: var(--emer5);
  background-color: var(--bg4)
}

.advrole.off {
  color: var(--bg3);
  border-color: var(--bg3);
  background-color: var(--bg4);
}

.timer.value {
  border-radius: var(--rad);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  padding: 0;
  background-color: var(--bg4);
  border: var(--bdr2) solid var(--bg1);
  cursor: default;
}

.timer.value.off {
  color: var(--bg1);
}

.timer.value  { grid-area: va; }
.timer.dec    { grid-area: de; }
.timer.inc    { grid-area: in; }

.timer-wrap {
  border-radius: var(--rad);
  display: grid;
  gap: .5rem;
  grid-template-columns: 33.59px 55px 33.59px;
  grid-template-areas:
    'de va in';
}

.svg-btn:disabled svg {
  fill: var(--bg1);
  cursor: default;
}

.timer-wrap.notleader .svg-btn svg {
  fill: var(--bg2);
}