// setup

@import './colors.scss';
@import './mixins.scss';

$bdr-width: .33rem;

.container.con--setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: $bg4; */
  /* padding: 0; */
}

.settings > :not(:first-child) {
  margin-left: 1rem;
}

.setup-section {
  border-radius: $rad;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg5;
  border: $bdr2 solid $bg3;
  padding: .5rem 0;
  width: 180px;
}

button.startgame {
  font-size: x-large;
  text-transform: uppercase;
  padding: .5rem 1rem;
  // @include three-d-btn();
  @include float-btn-txt($cyan6, $fg3);

  &:disabled {
    cursor: auto;
    // color: darken($fg3, 30%);
    // @include three-d-btn($bg3);
    @include float-btn-txt($bg3, darken($fg3, 30%));
  }
}

.ttip-parent.startgame {
  margin-bottom: 1rem;
}

.settings {
  display: flex;
  flex-direction: row;
}

.settings-title {
  font-size: large;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.advrole-wrapper :not(:first-child) {
  margin-top: .5rem;
}

.advrole {
  padding: 3px;
  // border: $bdr2 solid $bg3;
  background-color: $bg4;
  border-radius: $rad3;
  margin: 0;
  text-transform: uppercase;
  font-size: larger;
  // font-weight: bold;
  width: 110px;
  text-align: center;
  cursor: default;
  &.on {
    background-color: $emer6;
    color: $fg1;
    border-color: $emer5;
  }
  &.off {
    color: $bg2;
    border-color: $bg3;
  }
}

.advrolebtn {
  padding: 3px;
  display: block;
  width: 110px;
  font-size: larger;
  text-transform: uppercase;
  // @include three-d-btn($cyan6);
  @include float-btn-txt($cyan6, $fg3);

  &.selected {
    // color: $fg2;
    // @include three-d-btn($emer6);
    @include float-btn-txt($emer6, $fg2);
  }

  &:disabled {
    cursor: auto;
    // @include three-d-btn($bg3);
    @include float-btn-txt($bg3, darken($fg3, 30%));
    // &:not(.highlighted) {
    //   color: darken($fg3, 30%);
    // }
  }
}

.advrole.ghost {
  width: max-content;
  display: inline-block;
  border-color: $ghost;
  color: $ghost;
}

.timer.value {
  border-radius: $rad3;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  padding: 0;
  background-color: $bg4;
  // border: $bdr2 solid $bg3;
  cursor: default;
}

.timer.value.off {
  color: $bg2;
}

.timer.value  { grid-area: va; }
.timer.dec    { grid-area: de; }
.timer.inc    { grid-area: in; }

.timer-wrap {
  border-radius: $rad;
  display: grid;
  gap: .5rem;
  grid-template-columns: 34px 55px 34px;
  grid-template-areas:
    'de va in';
}

.svg-btn.timer,
.svg-icon.timer {
  padding: 7px;
}

.svg-btn.timer {
  @include float-btn-txt($cyan6, $fg3, 50%);
  &:disabled {
    cursor: default;
    // @include three-d-btn($col: $bg3);
    @include float-btn-txt($bg3, darken($fg3, 30%), 50%);
  }
  &:disabled svg {
    fill: $bg1;
  }
}

.svg-icon.timer {
  display: flex;
  border-radius: 50%;
  background-color: $bg4;
  & svg {
    fill: $bg2;
  }
}