// Setup

@import './colors.scss';
@import './mixins.scss';

.container.con--setup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings > :not(:first-child) {
  margin-left: 1rem;
}

.setup-section {
  border-radius: $rad6;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg5;
  border: $bdr2 solid $bg3;
  padding: .5rem 0;
  width: 180px;
}

button.startgame {
  font-size: 2rem;
  text-transform: uppercase;
  padding: .5rem 1rem;
  @include float-btn-txt($cyan6, $fg3);

  &:disabled {
    cursor: auto;
    @include float-btn-txt($bg3, darken($fg3, 30%));
  }
}

.ttip-parent.startgame {
  margin-bottom: 1rem;
}

.settings {
  display: flex;
  flex-direction: row;
}

.settings-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.advrole-wrapper :not(:first-child) {
  margin-top: .5rem;
}

.advrole {
  padding: 3px;
  background-color: $bg4;
  border-radius: $rad3;
  margin: 0;
  text-transform: uppercase;
  font-size: larger;
  width: 110px;
  text-align: center;
  cursor: default;
  &.on {
    color: $emer5;
  }
  &.off {
    color: $bg2;
  }
}

.advrolebtn {
  padding: 3px;
  display: block;
  width: 110px;
  font-size: larger;
  text-transform: uppercase;
  @include float-btn-txt($cyan6, $fg3);

  &.selected {
    @include float-btn-txt($emer6, $fg2);
  }

  &:disabled {
    cursor: auto;
    @include float-btn-txt($bg3, darken($fg3, 30%));
  }
}

.advrole.ghost {
  width: max-content;
  display: inline-block;
  border-color: $ghost;
  color: $ghost;
}

.timer.value {
  border-radius: $rad3;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0;
  background-color: $bg4;
  border: $bdr2 solid $bg1;
  cursor: default;
}

.timer.value.off {
  color: $bg2;
  border: $bdr2 solid $bg2;
}

.timer.value  { grid-area: va; }
.timer.dec    { grid-area: de; }
.timer.inc    { grid-area: in; }

.timer-wrap {
  border-radius: $rad;
  display: grid;
  gap: .5rem;
  grid-template-columns: 34px 65px 34px; // scale
  grid-template-areas:
    'de va in';
}

.svg-btn.timer,
.svg-icon.timer {
  padding: 7px;
}

.svg-btn.timer {
  @include float-btn-txt($cyan6, $fg3, $rad3);
  &:disabled {
    cursor: default;
    @include float-btn-txt($bg3, darken($fg3, 30%), $rad3);
  }
  &:disabled svg {
    fill: $bg1;
  }
}

.svg-icon.timer {
  display: flex;
  border-radius: $rad3;
  background-color: $bg4;
  & svg {
    fill: $bg2;
  }
}