
.start { grid-area: start; }
.sttxt { grid-area: sttxt; }
.ghost { grid-area: ghost; }
.roles { grid-area: roles; }
.watxt { grid-area: watxt; }
.titxt { grid-area: titxt; }
.tibtn { grid-area: tibtn; }

.container.con--setup {
  display: flex;
  justify-content: center;
  /* background-color: var(--bg3); */
  /* padding: 0; */
  /* gap: .5rem;
  grid-template-columns: max-content max-content max-content;
  grid-template-areas: 
    'start roles timer'; */
}

.container.con--setup > :not(:first-child) {
  margin-left: .5rem;
}

/* .container.con--setup.notleader {
  display: grid;
  padding: 0;
  gap: .5rem;
  grid-template-columns: max-content 1fr max-content;
  grid-template-areas: 
    'start roles timer';
} */

.setup-section {
  border-radius: var(--rad);
}

.setup-section.txt {
  background-color: var(--bg4);
  padding: .5rem;
}

.setup-section.txt p {
  font-size: large;
}

.start div,
.start button {
  height: 100%;
  width: 100%;
}

.text {
  display: flex;
  margin: auto;
  align-items:center;
  justify-content:center;
  text-align: center;
  height: calc(32px + .5rem);
  width: 100%;
  border-radius: var(--rad);
}

.text p {
  margin: .25rem .25rem;
}

.advrole-wrapper * {
  display: inline-block;
}

.advrole-wrapper :first-child {
  margin-right: .5rem;
}

.setup-section.roles > :nth-child(2) {
  margin-top: .5rem;
}

.advrole {
  padding: .15rem .25rem;
  background-color: var(--bg4);
  border: .2rem solid var(--bg3);
  border-radius: var(--rad);
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  width: 100px;
  text-align: center;
  cursor: default;
}

.advrole.ghost {
  width: max-content;
  display: inline-block;
  border-color: var(--ghost);
  color: var(--ghost);
}

.btn--advrole {
  /* display: block; */
  border: .2rem solid var(--cyan6);
  /* font-weight: bold; */
  min-width: 1.5rem;
}

.btn--advrole.on {
  background-color: var(--ready);
  border-color: var(--ready);
}

.btn--advrole.on:hover {
  background-color: var(--readyli);
  border-color: var(--readyli);
}

.btn--advrole.off:hover {
  background-color: var(--cyan5);
  border-color: var(--cyan5);
}

.advrole.on {
  color: var(--emer5);
  border-color: var(--emer5);
  background-color: var(--bg4)
}

/* .btn--advrole.off, */
.advrole.off {
  color: var(--bg3);
  border-color: var(--bg3);
  background-color: var(--bg4);
}

.btn--timer.selected {
  background-color: var(--yell5);
}

.btn--timer.selected:hover {
  background-color: var(--yell4);
}

.timer.title,
.timer.value {
  border-radius: var(--rad);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.timer.value {
  /* background-color: var(--bg3); */
  padding: 0;
  width: 26px;
}

.btn--timer.toggle.on {
  background-color: var(--emer5);
}

.btn--timer.toggle.off {
  background-color: var(--killer);
}

.timer.title  { grid-area: ti; }
.timer.value  { grid-area: va; }
.timer.dec    { grid-area: de; }
.timer.inc    { grid-area: in; }
.timer.toggle { grid-area: to; }

.timer-wrap.leader {
  width: max-content;
  border-radius: var(--rad);
  display: grid;
  gap: .25rem;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    'ti ti ti'
    'de va in';
}

.timer-wrap {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg4);
  padding: .25rem;
  border: .2rem solid var(--bg3);
}

.btn--timer.dec,
.btn--timer.inc {
  height: 100%;
  width: 20px;
  align-self: center;
}

.btn--timer.dec {
  justify-self: start;
}

.btn--timer.inc {
  justify-self: end;
}

.btn--timer.dec svg,
.btn--timer.inc svg {
  height: 100%;
  width: 100%;
}