// Setup

@import './colors.scss';
@import './mixins.scss';

.container.con--setup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings > :not(:first-child) {
  margin-left: 1rem;
}

.setup-section {
  border-radius: $rad6;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg5;
  border: $bdr2 solid $bg3;
  padding: .5rem 0;
  width: 180px;
}

button.startgame {
  font-size: 2rem;
  text-transform: uppercase;
  padding: .5rem 1rem;
  @include flat-btn-solid($darkest, $green, $darker, $dark);
}

.ttip-parent.startgame {
  margin-bottom: 1rem;
}

.settings {
  display: flex;
  flex-direction: row;
}

.settings-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.advrole-wrapper :not(:first-child) {
  margin-top: .5rem;
}

.advrole {
  padding: 3px;
  background-color: $darker;
  border-radius: $rad3;
  margin: 0;
  text-transform: uppercase;
  font-size: larger;
  width: 110px;
  text-align: center;
  cursor: default;
  @include colorfade();
  &.on { color: $pink; };
  &.off { color: $darkest; };
}

button.advrolebtn {
  display: block;
  text-transform: uppercase;
  font-size: larger;
  padding: 3px;
  width: 110px;
  &.on { @include flat-btn-solid($darkest, $pink); };
  &.off { @include flat-btn-solid($darkest, $green); };
}

.advrole.ghost {
  width: max-content;
  display: inline-block;
  border-color: $ghost;
  color: $ghost;
}

.timer.value {
  border-radius: $rad3;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0;
  background-color: $darker;
  border: $bdr2 solid $darker;
  cursor: default;

  &.off {
    color: $darkest;
    border: $bdr2 solid $darker;
  };
}

.timer.value { grid-area: va; }
.timer.dec   { grid-area: de; }
.timer.inc   { grid-area: in; }

.timer-wrap {
  border-radius: $rad;
  display: grid;
  gap: .5rem;
  grid-template-columns: 34px 65px 34px; // TO DO: scale
  grid-template-areas: 'de va in';
}

.svg-btn.timer,
.svg-icon.timer {
  padding: 7px;
}

.svg-btn.timer {
  @include flat-btn-solid($darkest, $cyan, $darkest, $darker);
}

.svg-icon.timer {
  display: flex;
  border-radius: $rad3;
  background-color: $darker;
  & svg {
    fill: $darkest;
  };
}