
.con--lobbycontrols {
  min-width: 100%;
  /* display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto; */
}

.con--lobbycontrols > :not(:first-child) {
  margin-top: .5rem;
}

.advrole-wrapper * {
  display: inline-block;
}

.advrole-wrapper :first-child {
  margin-right: .5rem;
}

.advrole {
  padding: .15rem .25rem;
  background-color: var(--bg4);
  border: .2rem solid var(--bg3);
  border-radius: var(--rad);
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  width: 100px;
  text-align: center;
}

.btn--advrole {
  /* display: block; */
  border: .2rem solid var(--cyan6);
  /* font-weight: bold; */
  min-width: 1.5rem;
}

.btn--advrole.on {
  background-color: var(--ready);
  border-color: var(--ready);
}

.btn--advrole.on:hover {
  background-color: var(--readyli);
  border-color: var(--readyli);
}

.btn--advrole.off:hover {
  background-color: var(--cyan5);
  border-color: var(--cyan5);
}

.advrole.on {
  color: var(--emer5);
  border-color: var(--emer5);
  background-color: var(--bg4)
}

/* .btn--advrole.off, */
.advrole.off {
  color: var(--bg3);
  border-color: var(--bg3);
  background-color: var(--bg4);
}
