// Styled-Markdown Text Styles

@import './colors.scss';
@import './mixins.scss';

.smd--def {
  color: darken($fg3, 10%);
}

li.line-smd--listitem,
div.line-smd--listitem {
  list-style: none;
  margin-bottom: 0;
  line-height: 2.5rem;
  &::before {
    content: '>>>';
    font-size: 1.5rem;
    color: $rose5;
    margin-right: .5rem;
  }
}

a.smd--link {
  color: $cyan5;
  &:hover {
    color: $cyan4;
  }
  &:active {
    color: $cyan6;
  }
}

.smd--usermessage {
  font-style: normal;
}

.smd--timestamp {
  text-align: end;
  color: $bg2;
}

.smd--punctuation {
  color: $fg3;
  font-weight: bold;
}

.smd--keyword {
  color: $fg1;
  font-weight: bold;
  letter-spacing: .05rem;
  text-transform: capitalize;
  &.ghost {
    color: $ghost;
  };
  &.hunter {
    color: $hunter;
  };
  &.killer {
    color: $killer;
  };
  &.witness {
    color: $witnss;
  };
  &.accomplice {
    color: $accomp;
  };
}

.line-smd--faded > span,
.smd--faded {
  opacity: 75%;
}

.line-smd--italic > span,
.smd--italic {
  font-style: italic;
}

.line-smd--emphasize > span,
.smd--emphasize {
  // text-transform: uppercase;
  color: $fg2;
  // font-weight: bold;
  // letter-spacing: .08rem;
}

.smd--warn {
  text-transform: uppercase;
  color: $yell5;
}

.smd--username {
  font-weight: bold;
  letter-spacing: .05rem;

  &.default { color: $colg4; };
  &.red { color: $redd4; };
  &.blue { color: $blue4; };
  &.green { color: $lime4; };
  &.yellow { color: $yell4; };
  &.orange { color: $oran5; };
  &.purple { color: $fuch4; };
  &.pink { color: $pink4; };
  &.cyan { color: $cyan4; };
  &.emerald { color: $emer4; };
  &.violet { color: $viol4; };
  &.rose { color: $rose5; };
  &.amber { color: $ambr5; };
}

h2.smd--heading {
  margin: 1rem 0;
  & > span {
    text-transform: uppercase;
  }
}

.line-text-after-timestamp-block {
  margin-left: .5rem;
}