// Styled-Markdown Text Styles

@import './colors.scss';
@import './mixins.scss';

.smd--def {
  color: $light;
}

li.line-smd--listitem,
div.line-smd--listitem {
  list-style: none;
  margin-bottom: 0;
  line-height: 2.5rem;
  &::before {
    content: '>>>';
    font-size: 1.5rem;
    color: $red;
    margin-right: .5rem;
  }
}

a.smd--link {
  color: $cyan-alt;
  @include colorfade();
  &:active, &:hover {
    color: $cyan;
  };
}

.smd--usermessage {
  font-style: normal;
}

.smd--timestamp {
  text-align: end;
  color: $dark;
}

.smd--punctuation {
  color: $light;
  font-weight: bold;
}

.smd--keyword {
  color: $light;
  text-transform: capitalize;
  &.ghost {
    color: $pink;
  };
  &.hunter {
    color: $green;
  };
  &.killer {
    color: $red;
  };
  &.witness {
    color: $cyan;
  };
  &.accomplice {
    color: $orange;
  };
}

.line-smd--faded > span,
.smd--faded {
  opacity: 75%;
}

.line-smd--italic > span,
.smd--italic {
  font-style: italic;
}

.line-smd--emphasize > span,
.smd--emphasize {
  color: $light;
}

.smd--warn {
  text-transform: uppercase;
  color: $yellow;
}

.smd--username {
  font-weight: bold;
  letter-spacing: .05rem;

  &.default { color: $colg4; };
  &.red { color: $redd4; };
  &.blue { color: $blue4; };
  &.green { color: $lime4; };
  &.yellow { color: $yell4; };
  &.orange { color: $oran5; };
  &.purple { color: $fuch4; };
  &.pink { color: $pink4; };
  &.cyan { color: $cyan4; };
  &.emerald { color: $emer4; };
  &.violet { color: $viol4; };
  &.rose { color: $rose5; };
  &.amber { color: $ambr5; };
}

h2.smd--heading {
  margin: 1rem 0;
  & > span {
    font-size: 2rem;
    text-transform: uppercase;
  }
}

.line-chatfeed-text {
  margin-left: .5rem;
}