/* SVGS */

.svg-btn {
  display: flex;
  height: 100%;
  width: 100%;
  max-height: 50px;
  max-width: 50px;
  background-color: inherit;
  overflow: hidden;
}

.svg-icon {
  height: 100%;
  width: 100%;
  max-height: 50px;
  max-width: 50px;
  background-color: inherit;
  overflow: hidden;
}

.svg-icon svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  margin: 0;
  fill: var(--default);
}

.svg-icon rect,
.svg-btn rect {
  fill: none;
}

.svg-btn svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  margin: 0;
  fill: var(--libl6);
  transition: 0.1s;
}

.svg-btn svg.imported {
  height: 100%;
  width: 100%;
  min-height: 30.59px;
}

.svg-btn svg.imported.copy {
  width: 90%;
}

.svg-btn:hover svg {
  fill: var(--libl5);
  /* transition: 0.1s; */
}

.svg-btn.hourglass svg {
  fill: var(--bg1);
}

.svg-btn path.hourglass {
  fill: wheat;
}

.svg-btn path.sand {
  fill: var(--bg3);
}