// SVGs

@import './colors.scss';
@import './mixins.scss';

.svg-btn {
  display: flex;
  max-height: 50px;
  max-width: 50px;
}

.svg-icon,
.svg-btn {
  height: 100%;
  width: 100%;
  background: none;
  overflow: hidden;

  & svg {
    height: 100%;
    width: 100%;
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
    margin: 0;
    fill: $light;
  };

  & rect {
    fill: none;
  };
}