// Timer

@import './colors.scss';
@import './mixins.scss';

.container.con--timer {
  background-color: $darker;
  width: 112px;
  margin: 0 0 0 $gap;
}

.time-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.time-wrap p {
  text-align: center;
}

.colon,
.digits {
  font-size: 2.5rem;
}

.colon {
  font-weight: bold;
}

.digits {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: normal;
}

.time-digits.zero span {
  color: $red;
}

.time-wrap-off {
  border-radius: $rad;
  background-color: $bg4;
  height: 100%;
  width: 100%;
}

.time-wrap * {
  border-radius: $rad3;
  display: flex;
  flex-grow: 1;
}

.time-wrap :not(:first-child) {
  margin-top: 2px;
}

.time-wrap.running .show {
  background-color: $green;
}

.time-wrap.notrunning *,
.time-wrap .hide {
  background-color: $bg4;
  opacity: 100%;
}

.time-wrap.running .timebar-3.show,
.time-wrap.running .timebar-2.show {
  background-color: $yellow;
}

.time-wrap.running .timebar-1.show {
  background-color: $red;
}