/* timer */

.con--timer {
  width: 8rem;
  background-color: var(--bg4);
}

.time-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.time-wrap p {
  text-align: center;
}

.colon,
.digits {
  font-size: xx-large;
}

.colon {
  font-weight: bold;
}

.digits {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: normal;
}

.time-digits.zero span {
  color: var(--killer);
}