// Timer

@import './colors.scss';
@import './mixins.scss';

.container.con--timer {
  width: 100%;
  padding: 0;
  margin: 0;
}

.time-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.time-wrap p {
  text-align: center;
}

.colon,
.digits {
  font-size: 2.5rem;
}

.colon {
  font-weight: bold;
}

.digits {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: normal;
}

.time-digits.zero span {
  color: $killer;
}

.svg-icon.hourglass svg {
  fill: $bg1;
}

.svg-icon path.glass {
  fill: $default;
}

.svg-icon path.sand {
  fill: $viol5;
}

.time-wrap-off {
  border-radius: $rad;
  background-color: $bg4;
  height: 100%;
  width: 100%;
}

.time-wrap * {
  border-radius: $rad;
  display: flex;
  flex-grow: 1;
}

.time-wrap :not(:first-child) {
  margin-top: 2px;
}

.time-wrap.running .show {
  background-color: $ready;
}

.time-wrap.notrunning *,
.time-wrap .hide {
  background-color: $bg4;
  opacity: 100%;
}

.time-wrap.running .timebar-3.show,
.time-wrap.running .timebar-2.show {
  background-color: $badge;
}

.time-wrap.running .timebar-1.show {
  background-color: $killer;
}