/* timer */

.container.con--timer {
  width: 8rem;
  padding: 0;
  margin: 0;
  /* background-color: var(--bg4); */
}

.time-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.time-wrap p {
  text-align: center;
}

.colon,
.digits {
  font-size: xx-large;
}

.colon {
  font-weight: bold;
}

.digits {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: normal;
}

.time-digits.zero span {
  color: var(--killer);
}

.svg-icon.hourglass svg {
  fill: var(--bg1);
}

.svg-icon path.glass {
  fill: var(--default);
}

.svg-icon path.sand {
  fill: var(--viol5);
}

.svg-icon.hourglass {
  display: flex;
  height: max-content;
  /* max-height: none;
  max-width: none; */
  /* width: 150%; */
  /* position: relative; */
  /* left: -25%; */
  background: none;
}

.time-wrap-off {
  border-radius: var(--rad);
  background-color: var(--bg4);
  height: 100%;
  width: 100%;
}

.time-wrap * {
  border-radius: var(--rad);
  display: flex;
  flex-grow: 1;
}

.time-wrap :not(:first-child) {
  margin-top: 2px;
}

.time-wrap.running .show {
  background-color: var(--ready);
}

.time-wrap.notrunning *,
.time-wrap .hide {
  background-color: var(--bg4);
  opacity: 100%;
}

.time-wrap.running .timebar-3.show,
.time-wrap.running .timebar-2.show {
  background-color: var(--badge);
}

.time-wrap.running .timebar-1.show {
  background-color: var(--killer);
}