// Toggle Switch

@import './colors.scss';
@import './mixins.scss';

.toggle-bg {
  @include shadow();
  display: block;
  padding: 2px;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  background-color: $darker;
  border: 2px solid $dark;
  & input {
    display: none;
  };
}

.toggle-fg {
  cursor: pointer;
  position: relative;
  -webkit-transition: all .3s;
     -moz-transition: all .3s;
       -o-transition: all .3s;
          transition: all .3s;

  &.toggle-rollunder {
    overflow: hidden;
    @include circle(22px);
    background-color: $red;
    input:checked + & {
      -webkit-transform: translateX(20px);
         -moz-transform: translateX(20px);
          -ms-transform: translateX(20px);
           -o-transform: translateX(20px);
              transform: translateX(20px);
    };
  };

  &.toggle-rollover {
    @include circle(88px);
    background-color: $green;
    left: -88px;
    top: -33px;
    input:checked + .toggle-rollunder & {
      -webkit-transform: translateX(22px);
         -moz-transform: translateX(22px);
          -ms-transform: translateX(22px);
           -o-transform: translateX(22px);
              transform: translateX(22px);
    };
  };
}

