// Tooltips

@import './colors.scss';
@import './mixins.scss';

.ttip-parent {
  position:relative;
}

.ttip-parent .ttip {
  z-index: 4;
  background-color: $bg5;
  border-radius: $rad6;
  border: 2px solid $bg2;
  @include shadow();
  width: max-content;
  max-width: 500px;
  display: none;
  padding: 1rem;
  position: absolute;
  &.singleline {
    max-width: 90vw;
    padding: .25rem 1rem;
  }
}

.ttip.left,
.ttip.right {
  top: 50%;
  transform: translate(0, -50%);
}

.ttip.left {
  right: 100%;
  margin-right: .5rem;
}

.ttip.right {
  left: 100%;
  margin-left: .5rem;
}

.ttip.top,
.ttip.bottom {
  left: 50%;
  transform: translate(-50%, 0);
}

.ttip.top {
  bottom: calc(100% + .5rem);
}

.ttip.bottom {
  top: calc(100% + .5rem);
}

.ttip-parent:hover .ttip {
  display: block;
}

.ttip span {
  line-height: 2rem;
  font-size: 1.5rem;
}

.ttip :not(:first-child) {
  margin-top: 1rem;
}