// tooltips

@import './colors.scss';
@import './mixins.scss';

.ttip-parent {
  position:relative;
  /* width: max-content; */
}

.ttip-parent .ttip {
  z-index: 99;
  background-color: $bg5;
  border-radius: $rad6;
  border: 2px solid $bg2;
  @include shadow();
  width: max-content;
  max-width: 500px;
  display: none;
  padding: 1rem;
  position: absolute;
  &.singleline {
    max-width: 90vw;
    padding: .25rem 1rem;
  }
}

.ttip.left,
.ttip.right {
  top: 50%;
  transform: translate(0, -50%);
}

.ttip.left {
  right: 100%;
  margin-right: .5rem;
}

.ttip.right {
  left: 100%;
  margin-left: .5rem;
}

.ttip.top,
.ttip.bottom {
  left: 50%;
  transform: translate(-50%, 0);
}

.ttip.top {
  bottom: calc(100% + .5rem);
}

.ttip.bottom {
  top: calc(100% + .5rem);
}

.ttip-parent:hover .ttip {
  display: block;
}

.ttip span {
  line-height: 2rem;
  font-size: 1.5rem;
}

.ttip :not(:first-child) {
  margin-top: 1rem;
}

// i {
//   position: absolute;
//   top: 50%;
//   left: 100%;
//   margin-top: -20px;
//   width: 20px;
//   height: 40px;
//   overflow: hidden;
// }

// i::after {
//   content: '';
//   position: absolute;
//   width: 20px;
//   height: 20px;
//   left: 0;
//   top: 50%;
//   transform: translate(-50%,-50%) rotate(-45deg);
//   background-color: $bg1;
//   // box-shadow: 0 1px 3px $bg5;
// }